In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
import gc
import sys
sys.path.append('../')

from fastai.structured import *
from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)
from IPython.display import HTML, display
from sklearn import metrics
import traceback 
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

import featuretools as ft

MERED = "merged"
PATH = "../../../data/home-credit-default-risk/"
#PATH = "../../data/home-credit-default-risk/"

/home/max/anaconda3/envs/fastai-cpu/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/max/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [6]:
ls {PATH}

application_test.csv                merged/
application_train.csv               models/
bureau_balance.csv                  POS_CASH_balance.csv
bureau.csv                          previous_application.csv
credit_card_balance.csv             sample_submission.csv
HomeCredit_columns_description.csv  tmp/
installments_payments.csv

In [19]:
?pd.read_csv

In [3]:
file_names = ['application_train']
tables = [pd.read_csv(f'{PATH}{file_name}.csv',low_memory=False, nrows=10000) for file_name in file_names]
train = tables[0]

In [4]:
file_names = ['bureau']
tables = [pd.read_csv(f'{PATH}{file_name}.csv',low_memory=False) for file_name in file_names]
bureau = tables[0]

In [5]:
bureau = bureau[bureau.SK_ID_CURR.isin(train.SK_ID_CURR)]

In [6]:
file_names = ['bureau_balance']
tables = [pd.read_csv(f'{PATH}{file_name}.csv',low_memory=False) for file_name in file_names]
bureau_balance = tables[0][tables[0].SK_ID_BUREAU.isin(bureau.SK_ID_BUREAU)]

In [7]:
len(train), len(bureau), len(bureau_balance)

(10000, 46974, 474218)

In [14]:
bureau_balance, bureau = tables

ValueError: not enough values to unpack (expected 3, got 2)

In [41]:
bureau_balance.head()

   index  SK_ID_BUREAU  MONTHS_BALANCE STATUS
0  81446       5228926             -47      C
1  81447       5228926             -48      C
2  81448       5228926             -49      C
3  81449       5228926             -50      C
4  81450       5228926             -51      C

In [16]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [8]:
bureau_balance = bureau_balance.reset_index()

In [9]:
entities = {
    'train' : (train, "SK_ID_CURR"),
    'bureau' : (bureau, "SK_ID_BUREAU"),
    'bureau_balance' : (bureau_balance, 'index')
}

relationships = [
    ('train', 'SK_ID_CURR', 'bureau', 'SK_ID_CURR'),
    ('bureau', 'SK_ID_BUREAU', 'bureau_balance', 'SK_ID_BUREAU')
]

In [10]:
feature_matrix, feature_defs = ft.dfs(
    entities=entities,
    relationships = relationships,
    target_entity="train",
    agg_primitives=["mean", "sum", "mode"])

In [11]:
len(feature_matrix)

10000

In [12]:
feature_defs

[<Feature: TARGET>,
 <Feature: NAME_CONTRACT_TYPE>,
 <Feature: CODE_GENDER>,
 <Feature: FLAG_OWN_CAR>,
 <Feature: FLAG_OWN_REALTY>,
 <Feature: CNT_CHILDREN>,
 <Feature: AMT_INCOME_TOTAL>,
 <Feature: AMT_CREDIT>,
 <Feature: AMT_ANNUITY>,
 <Feature: AMT_GOODS_PRICE>,
 <Feature: NAME_TYPE_SUITE>,
 <Feature: NAME_INCOME_TYPE>,
 <Feature: NAME_EDUCATION_TYPE>,
 <Feature: NAME_FAMILY_STATUS>,
 <Feature: NAME_HOUSING_TYPE>,
 <Feature: REGION_POPULATION_RELATIVE>,
 <Feature: DAYS_BIRTH>,
 <Feature: DAYS_EMPLOYED>,
 <Feature: DAYS_REGISTRATION>,
 <Feature: DAYS_ID_PUBLISH>,
 <Feature: OWN_CAR_AGE>,
 <Feature: FLAG_MOBIL>,
 <Feature: FLAG_EMP_PHONE>,
 <Feature: FLAG_WORK_PHONE>,
 <Feature: FLAG_CONT_MOBILE>,
 <Feature: FLAG_PHONE>,
 <Feature: FLAG_EMAIL>,
 <Feature: OCCUPATION_TYPE>,
 <Feature: CNT_FAM_MEMBERS>,
 <Feature: REGION_RATING_CLIENT>,
 <Feature: REGION_RATING_CLIENT_W_CITY>,
 <Feature: WEEKDAY_APPR_PROCESS_START>,
 <Feature: HOUR_APPR_PROCESS_START>,
 <Feature: REG_REGION_NOT_LIVE_REGION>,
 <Feature: REG_REGION_NOT_WORK_REGION>,
 <Feature: LIVE_REGION_NOT_WORK_REGION>,
 <Feature: REG_CITY_NOT_LIVE_CITY>,
 <Feature: REG_CITY_NOT_WORK_CITY>,
 <Feature: LIVE_CITY_NOT_WORK_CITY>,
 <Feature: ORGANIZATION_TYPE>,
 <Feature: EXT_SOURCE_1>,
 <Feature: EXT_SOURCE_2>,
 <Feature: EXT_SOURCE_3>,
 <Feature: APARTMENTS_AVG>,
 <Feature: BASEMENTAREA_AVG>,
 <Feature: YEARS_BEGINEXPLUATATION_AVG>,
 <Feature: YEARS_BUILD_AVG>,
 <Feature: COMMONAREA_AVG>,
 <Feature: ELEVATORS_AVG>,
 <Feature: ENTRANCES_AVG>,
 <Feature: FLOORSMAX_AVG>,
 <Feature: FLOORSMIN_AVG>,
 <Feature: LANDAREA_AVG>,
 <Feature: LIVINGAPARTMENTS_AVG>,
 <Feature: LIVINGAREA_AVG>,
 <Feature: NONLIVINGAPARTMENTS_AVG>,
 <Feature: NONLIVINGAREA_AVG>,
 <Feature: APARTMENTS_MODE>,
 <Feature: BASEMENTAREA_MODE>,
 <Feature: YEARS_BEGINEXPLUATATION_MODE>,
 <Feature: YEARS_BUILD_MODE>,
 <Feature: COMMONAREA_MODE>,
 <Feature: ELEVATORS_MODE>,
 <Feature: ENTRANCES_MODE>,
 <Feature: FLOORSMAX_MODE>,
 <Feature: FLOORSMIN_MODE>,
 <Feature: LANDAREA_MODE>,
 <Feature: LIVINGAPARTMENTS_MODE>,
 <Feature: LIVINGAREA_MODE>,
 <Feature: NONLIVINGAPARTMENTS_MODE>,
 <Feature: NONLIVINGAREA_MODE>,
 <Feature: APARTMENTS_MEDI>,
 <Feature: BASEMENTAREA_MEDI>,
 <Feature: YEARS_BEGINEXPLUATATION_MEDI>,
 <Feature: YEARS_BUILD_MEDI>,
 <Feature: COMMONAREA_MEDI>,
 <Feature: ELEVATORS_MEDI>,
 <Feature: ENTRANCES_MEDI>,
 <Feature: FLOORSMAX_MEDI>,
 <Feature: FLOORSMIN_MEDI>,
 <Feature: LANDAREA_MEDI>,
 <Feature: LIVINGAPARTMENTS_MEDI>,
 <Feature: LIVINGAREA_MEDI>,
 <Feature: NONLIVINGAPARTMENTS_MEDI>,
 <Feature: NONLIVINGAREA_MEDI>,
 <Feature: FONDKAPREMONT_MODE>,
 <Feature: HOUSETYPE_MODE>,
 <Feature: TOTALAREA_MODE>,
 <Feature: WALLSMATERIAL_MODE>,
 <Feature: EMERGENCYSTATE_MODE>,
 <Feature: OBS_30_CNT_SOCIAL_CIRCLE>,
 <Feature: DEF_30_CNT_SOCIAL_CIRCLE>,
 <Feature: OBS_60_CNT_SOCIAL_CIRCLE>,
 <Feature: DEF_60_CNT_SOCIAL_CIRCLE>,
 <Feature: DAYS_LAST_PHONE_CHANGE>,
 <Feature: FLAG_DOCUMENT_2>,
 <Feature: FLAG_DOCUMENT_3>,
 <Feature: FLAG_DOCUMENT_4>,
 <Feature: FLAG_DOCUMENT_5>,
 <Feature: FLAG_DOCUMENT_6>,
 <Feature: FLAG_DOCUMENT_7>,
 <Feature: FLAG_DOCUMENT_8>,
 <Feature: FLAG_DOCUMENT_9>,
 <Feature: FLAG_DOCUMENT_10>,
 <Feature: FLAG_DOCUMENT_11>,
 <Feature: FLAG_DOCUMENT_12>,
 <Feature: FLAG_DOCUMENT_13>,
 <Feature: FLAG_DOCUMENT_14>,
 <Feature: FLAG_DOCUMENT_15>,
 <Feature: FLAG_DOCUMENT_16>,
 <Feature: FLAG_DOCUMENT_17>,
 <Feature: FLAG_DOCUMENT_18>,
 <Feature: FLAG_DOCUMENT_19>,
 <Feature: FLAG_DOCUMENT_20>,
 <Feature: FLAG_DOCUMENT_21>,
 <Feature: AMT_REQ_CREDIT_BUREAU_HOUR>,
 <Feature: AMT_REQ_CREDIT_BUREAU_DAY>,
 <Feature: AMT_REQ_CREDIT_BUREAU_WEEK>,
 <Feature: AMT_REQ_CREDIT_BUREAU_MON>,
 <Feature: AMT_REQ_CREDIT_BUREAU_QRT>,
 <Feature: AMT_REQ_CREDIT_BUREAU_YEAR>,
 <Feature: MEAN(bureau.DAYS_CREDIT)>,
 <Feature: MEAN(bureau.CREDIT_DAY_OVERDUE)>,
 <Feature: MEAN(bureau.DAYS_CREDIT_ENDDATE)>,
 <Feature: MEAN(bureau.DAYS_ENDDATE_FACT)>,
 <Feature: MEAN(bureau.AMT_CREDIT_MAX_OVERDUE)>,
 <Feature: MEAN(bureau.CNT_CREDIT_PROLONG)>,
 <Feature: MEAN(bureau.AMT_CREDIT_SUM)>,
 <Feature: MEAN(bureau.AMT_CREDIT_SUM_DEBT)>,
 <Feature: MEAN(bureau.AMT_CREDIT_SUM_LIMIT)>,
 <Feature: MEAN(bureau.AMT_CREDIT_SUM_OVERDUE)>,
 <Feature: MEAN(bureau.DAYS_CREDIT_UPDATE)>,
 <Feature: MEAN(bureau.AMT_ANNUITY)>,
 <Feature: SUM(bureau.DAYS_CREDIT)>,
 <Feature: SUM(bureau.CREDIT_DAY_OVERDUE)>,
 <Feature: SUM(bureau.DAYS_CREDIT_ENDDATE)>,
 <Feature: SUM(bureau.DAYS_ENDDATE_FACT)>,
 <Feature: SUM(bureau.AMT_CREDIT_MAX_OVERDUE)>,
 <Feature: SUM(bureau.CNT_CREDIT_PROLONG)>,
 <Feature: SUM(bureau.AMT_CREDIT_SUM)>,
 <Feature: SUM(bureau.AMT_CREDIT_SUM_DEBT)>,
 <Feature: SUM(bureau.AMT_CREDIT_SUM_LIMIT)>,
 <Feature: SUM(bureau.AMT_CREDIT_SUM_OVERDUE)>,
 <Feature: SUM(bureau.DAYS_CREDIT_UPDATE)>,
 <Feature: SUM(bureau.AMT_ANNUITY)>,
 <Feature: MODE(bureau.CREDIT_ACTIVE)>,
 <Feature: MODE(bureau.CREDIT_CURRENCY)>,
 <Feature: MODE(bureau.CREDIT_TYPE)>,
 <Feature: MEAN(bureau_balance.MONTHS_BALANCE)>,
 <Feature: SUM(bureau_balance.MONTHS_BALANCE)>,
 <Feature: MODE(bureau_balance.STATUS)>,
 <Feature: MEAN(bureau.MEAN(bureau_balance.MONTHS_BALANCE))>,
 <Feature: MEAN(bureau.SUM(bureau_balance.MONTHS_BALANCE))>,
 <Feature: SUM(bureau.MEAN(bureau_balance.MONTHS_BALANCE))>,
 <Feature: MODE(bureau.MODE(bureau_balance.STATUS))>]