In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
import gc
import sys
sys.path.append('../')

from fastai.structured import *
from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)
from IPython.display import HTML, display
from sklearn import metrics
import traceback 
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

import featuretools as ft

MERED = "merged"
PATH = "../../../data/home-credit-default-risk/"
#PATH = "../../data/home-credit-default-risk/"

/home/max/anaconda3/envs/fastai-cpu/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/max/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [6]:
ls {PATH}

application_test.csv                merged/
application_train.csv               models/
bureau_balance.csv                  POS_CASH_balance.csv
bureau.csv                          previous_application.csv
credit_card_balance.csv             sample_submission.csv
HomeCredit_columns_description.csv  tmp/
installments_payments.csv

In [19]:
?pd.read_csv

In [17]:
file_names = ['application_train']
tables = [pd.read_csv(f'{PATH}{file_name}.csv',low_memory=False, nrows=1000) for file_name in file_names]
train = tables[0]

In [20]:
file_names = ['bureau']
tables = [pd.read_csv(f'{PATH}{file_name}.csv',low_memory=False) for file_name in file_names]
bureau = tables[0]

In [30]:
bureau = bureau[bureau.SK_ID_CURR.isin(train.SK_ID_CURR)]

In [32]:
file_names = ['bureau_balance']
tables = [pd.read_csv(f'{PATH}{file_name}.csv',low_memory=False) for file_name in file_names]
bureau_balance = tables[0][tables[0].SK_ID_BUREAU.isin(bureau.SK_ID_BUREAU)]

In [36]:
len(train), len(bureau), len(bureau_balance)

(1000, 4496, 43079)

In [14]:
bureau_balance, bureau = tables

ValueError: not enough values to unpack (expected 3, got 2)

In [41]:
bureau_balance.head()

   index  SK_ID_BUREAU  MONTHS_BALANCE STATUS
0  81446       5228926             -47      C
1  81447       5228926             -48      C
2  81448       5228926             -49      C
3  81449       5228926             -50      C
4  81450       5228926             -51      C

In [16]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [40]:
bureau_balance = bureau_balance.reset_index()

In [45]:
entities = {
    'train' : (train, "SK_ID_CURR"),
    'bureau' : (bureau, "SK_ID_BUREAU"),
    'bureau_balance' : (bureau_balance, 'index')
}

relationships = [
    ('train', 'SK_ID_CURR', 'bureau', 'SK_ID_CURR'),
    ('bureau', 'SK_ID_BUREAU', 'bureau_balance', 'SK_ID_BUREAU')
]

In [46]:
feature_matrix, feature_defs = ft.dfs(
    entities=entities,
    relationships = relationships,
    target_entity="train",
    agg_primitives=["mean", "sum", "mode"])

In [52]:
feature_matrix

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,MODE(bureau.CREDIT_ACTIVE),MODE(bureau.CREDIT_CURRENCY),MODE(bureau.CREDIT_TYPE),MEAN(bureau_balance.MONTHS_BALANCE),SUM(bureau_balance.MONTHS_BALANCE),MODE(bureau_balance.STATUS),MEAN(bureau.MEAN(bureau_balance.MONTHS_BALANCE)),MEAN(bureau.SUM(bureau_balance.MONTHS_BALANCE)),SUM(bureau.MEAN(bureau_balance.MONTHS_BALANCE)),MODE(bureau.MODE(bureau_balance.STATUS))
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,351000.0,...,Closed,currency 1,Consumer credit,-24.554545,-2701.0,0,-21.875000,-337.625000,-175.0,1
100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,1129500.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,135000.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,297000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,513000.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,454500.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,1395000.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,1530000.0,...,Active,currency 1,Consumer credit,-46.000000,-3312.0,C,-46.000000,-1656.000000,-92.0,C
100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,913500.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,405000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,652500.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,135000.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,67500.0,...,Active,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,697500.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,679500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,247500.0,...,Active,currency 1,Consumer credit,-8.000000,-272.0,0,-8.000000,-136.000000,-16.0,0
100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,387000.0,...,Active,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,270000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,157500.0,...,Active,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,454500.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,427500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,927000.0,...,Active,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,450000.0,...,Active,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,225000.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,247500.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,225000.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100031,1,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5,702000.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,270000.0,...,Closed,currency 1,Consumer credit,-25.750000,-1957.0,0,-25.750000,-489.250000,-103.0,0
100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,675000.0,...,Active,currency 1,Credit card,-3.000000,-21.0,X,-3.000000,-21.000000,-3.0,X
100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,180000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101121,1,Cash loans,M,N,Y,2,180000.000,436032.0,20326.5,360000.0,...,Active,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101122,0,Cash loans,F,N,N,1,90000.000,640458.0,27265.5,517500.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101123,0,Cash loans,F,Y,Y,0,54000.000,188685.0,8122.5,157500.0,...,Closed,currency 1,Consumer credit,-27.500000,-1540.0,C,-27.500000,-1540.000000,-27.5,C
101124,0,Cash loans,F,N,N,0,103500.000,848745.0,37516.5,675000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101127,1,Cash loans,M,Y,N,0,211500.000,835380.0,45445.5,675000.0,...,Active,currency 1,Credit card,-3.793103,-110.0,0,-3.625000,-27.500000,-14.5,0
101129,0,Cash loans,F,Y,Y,0,207000.000,1006920.0,37444.5,900000.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101130,0,Cash loans,F,Y,Y,0,67500.000,203760.0,10782.0,180000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101131,0,Cash loans,M,N,Y,0,112500.000,350676.0,9774.0,229500.0,...,Active,currency 1,Credit card,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101132,0,Revolving loans,F,N,Y,1,157500.000,135000.0,6750.0,135000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101133,0,Cash loans,F,N,Y,0,90000.000,284400.0,16011.0,225000.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101134,0,Cash loans,F,Y,N,0,135000.000,450000.0,23107.5,450000.0,...,Closed,currency 1,Consumer credit,-33.655814,-7236.0,0,-28.111111,-804.000000,-253.0,0
101135,0,Cash loans,F,Y,Y,1,135000.000,299772.0,21852.0,247500.0,...,Active,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101137,0,Cash loans,M,N,Y,0,123300.000,497520.0,25758.0,450000.0,...,Active,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101138,0,Cash loans,F,N,Y,0,202500.000,640080.0,24259.5,450000.0,...,Closed,currency 1,Consumer credit,-32.373068,-14665.0,C,-28.222222,-1629.444444,-254.0,C
101139,0,Cash loans,F,Y,Y,1,112500.000,679500.0,19867.5,679500.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101141,0,Cash loans,F,N,N,2,139500.000,135000.0,10795.5,135000.0,...,Active,currency 1,Consumer credit,-33.716292,-12003.0,C,-21.750000,-1500.375000,-174.0,0
101142,1,Cash loans,F,N,Y,2,135000.000,312768.0,17095.5,270000.0,...,Active,currency 1,Consumer credit,-10.670000,-1067.0,0,-8.500000,-152.428571,-59.5,0
101143,0,Cash loans,F,N,Y,1,112500.000,1006920.0,42790.5,900000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101144,0,Cash loans,F,N,N,0,90000.000,263686.5,28525.5,238500.0,...,Closed,currency 1,Credit card,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101145,0,Cash loans,M,Y,N,2,315000.000,840951.0,35761.5,679500.0,...,Active,currency 1,Credit card,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101146,0,Cash loans,M,N,Y,0,38700.000,143910.0,15241.5,135000.0,...,Closed,currency 1,Consumer credit,-38.500000,-3003.0,C,-38.500000,-3003.000000,-38.5,C
101147,1,Cash loans,M,N,Y,2,315000.000,1165500.0,34209.0,1165500.0,...,Active,currency 1,Consumer credit,-22.892655,-4052.0,0,-18.291667,-337.666667,-219.5,0
101148,0,Cash loans,F,Y,N,1,135000.000,490536.0,25888.5,405000.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101150,0,Cash loans,M,Y,Y,0,112500.000,835380.0,33259.5,675000.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101151,0,Cash loans,F,N,N,0,90000.000,760225.5,32337.0,679500.0,...,Closed,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101152,0,Cash loans,F,N,N,0,112500.000,495985.5,17946.0,409500.0,...,Active,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101153,0,Cash loans,F,N,Y,0,225000.000,1113840.0,57001.5,900000.0,...,Active,currency 1,Consumer credit,-40.500000,-1134.0,C,-32.500000,-567.000000,-65.0,C
101154,0,Cash loans,F,Y,Y,0,144000.000,517536.0,28206.0,432000.0,...,Closed,currency 1,Consumer credit,-14.938776,-732.0,C,-11.750000,-366.000000,-23.5,C
101155,0,Cash loans,M,N,Y,0,315000.000,1288350.0,37800.0,1125000.0,...,Active,currency 1,Consumer credit,NaN,NaN,NaN,NaN,NaN,0.0,NaN
101156,0,Cash loans,M,Y,Y,2,180000.000,679500.0,27076.5,679500.0,...,Active,currency 1,Consumer credit,-10.071429,-282.0,0,-6.500000,-141.000000,-13.0,0