In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
import gc
import sys
sys.path.append('../')

from fastai.structured import *
from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)
from IPython.display import HTML, display
from sklearn import metrics
import traceback 
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

import featuretools as ft

MERED = "merged"
PATH = "../../../data/home-credit-default-risk/"
#PATH = "../../data/home-credit-default-risk/"

/home/max/anaconda3/envs/fastai-cpu/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/max/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [6]:
ls {PATH}

application_test.csv                merged/
application_train.csv               models/
bureau_balance.csv                  POS_CASH_balance.csv
bureau.csv                          previous_application.csv
credit_card_balance.csv             sample_submission.csv
HomeCredit_columns_description.csv  tmp/
installments_payments.csv

In [132]:
n_sample = 1000

In [59]:
def delete_by_nan(table, ratio=0.5):
    null_ratio = table.isnull().sum().sort_values(ascending=False) / len(table)
    filtered_by_null = null_ratio[null_ratio > ratio]
    
    table.drop(columns=filtered_by_null.index, axis=1, inplace=True)

In [60]:
def load_sample(file_name, sk_id_currs=None, nrows=None):
    table = pd.read_csv(f'{PATH}{file_name}.csv', low_memory=False, nrows=nrows)
    if sk_id_currs is not None:
        table = table[table.SK_ID_CURR.isin(sk_id_currs)]    
    
    col_num = len(table.columns)
    delete_by_nan(table)
    
    print(file_name, len(table), col_num, len(table.columns))
    return table

In [118]:
def add_table_to_app(app, table, table_name):
    entities = {
        'app' : (app, "SK_ID_CURR"),
        table_name : (table, 'index'),
    }
    relationships = [
        ('app', 'SK_ID_CURR', table_name, 'index')
    ]
    
    return add_table_to_app_by_entities(entities=entities, relationships=relationships, table_name=table_name)

In [119]:
def add_table_to_app_by_entities(entities, relationships, table_name):
    feature_matrix, feature_defs = ft.dfs(
        entities=entities,
        relationships = relationships,
        target_entity="app",
        agg_primitives=["mean", "sum", "mode"],
        ignore_variables={table_name: ['SK_ID_PREV', 'SK_ID_CURR']}
    )
    
    os.makedirs(f'{PATH}tmp', exist_ok=True)
    feature_matrix = feature_matrix.reset_index()
    
    feature_matrix.to_feather(f'{PATH}tmp/app-table')        
    
    return feature_matrix, feature_defs

In [162]:
train = load_sample('application_train',  nrows=n_sample)

application_train 1000 122 92

In [163]:
test = load_sample('application_test',  nrows=n_sample)

application_test 1000 121 92

In [164]:
train['is_test'] = 0
df_t_t = pd.concat([train, test])
df_t_t.is_test.fillna(1, inplace=True)

/home/max/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [165]:
del train, test
gc.collect()

1308

In [166]:
bureau = load_sample('bureau', df_t_t.SK_ID_CURR)

bureau 9665 17 15

In [167]:
file_names = ['bureau_balance']
tables = [pd.read_csv(f'{PATH}{file_name}.csv',low_memory=False) for file_name in file_names]
bureau_balance = tables[0][tables[0].SK_ID_BUREAU.isin(bureau.SK_ID_BUREAU)]
bureau_balance = bureau_balance.reset_index()

In [168]:
entities = {
    'app' : (df_t_t, "SK_ID_CURR"),
    'bureau' : (bureau, "SK_ID_BUREAU"),
    'bureau_balance' : (bureau_balance, 'index')
}

relationships = [
    ('app', 'SK_ID_CURR', 'bureau', 'SK_ID_CURR'),
    ('bureau', 'SK_ID_BUREAU', 'bureau_balance', 'SK_ID_BUREAU')
]

In [169]:
df_t_t, _ = add_table_to_app_by_entities(entities, relationships, 'bureau')

In [170]:
del bureau, bureau_balance, tables
gc.collect()

802

In [171]:
file_names = ['previous_application', 'POS_CASH_balance', 'credit_card_balance', 'installments_payments']
for file_name in file_names:
    table = load_sample(file_name, df_t_t.SK_ID_CURR)
    table = table.reset_index()
    df_t_t, feature_defs = add_table_to_app(df_t_t, table, file_name)

previous_application 9948 37 33
POS_CASH_balance 58981 8 8
credit_card_balance 22632 23 23
installments_payments 79690 8 8

In [172]:
df_all = pd.read_feather(f'{PATH}tmp/app-table')

/home/max/.local/lib/python3.6/site-packages/pandas/io/feather_format.py:112: FutureWarning: `nthreads` argument is deprecated, pass `use_threads` instead
  return feather.read_dataframe(path, nthreads=nthreads)

In [173]:
df_all.head()

,SK_ID_CURR,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,...,MEAN(installments_payments.DAYS_INSTALMENT),MEAN(installments_payments.DAYS_ENTRY_PAYMENT),MEAN(installments_payments.AMT_INSTALMENT),MEAN(installments_payments.AMT_PAYMENT),SUM(installments_payments.NUM_INSTALMENT_VERSION),SUM(installments_payments.NUM_INSTALMENT_NUMBER),SUM(installments_payments.DAYS_INSTALMENT),SUM(installments_payments.DAYS_ENTRY_PAYMENT),SUM(installments_payments.AMT_INSTALMENT),SUM(installments_payments.AMT_PAYMENT)
0,100001,20560.5,568800.0,450000.0,135000.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,24700.5,406597.5,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,...,-778.0,-789.0,447329.61,447329.61,2.0,6.0,-778.0,-789.0,447329.61,447329.61
2,100003,35698.5,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100004,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100005,17370.0,222768.0,180000.0,99000.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [178]:
 with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000):
        display(DataFrameSummary(df_all).summary())

,SK_ID_CURR,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,APARTMENTS_AVG,APARTMENTS_MEDI,APARTMENTS_MODE,CNT_CHILDREN,CNT_FAM_MEMBERS,CODE_GENDER,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,DAYS_LAST_PHONE_CHANGE,DAYS_REGISTRATION,DEF_30_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,EMERGENCYSTATE_MODE,ENTRANCES_AVG,ENTRANCES_MEDI,ENTRANCES_MODE,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_CONT_MOBILE,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_2,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_EMAIL,FLAG_EMP_PHONE,FLAG_MOBIL,FLAG_OWN_CAR,FLAG_OWN_REALTY,FLAG_PHONE,FLAG_WORK_PHONE,FLOORSMAX_AVG,FLOORSMAX_MEDI,FLOORSMAX_MODE,HOUR_APPR_PROCESS_START,HOUSETYPE_MODE,LIVE_CITY_NOT_WORK_CITY,LIVE_REGION_NOT_WORK_REGION,LIVINGAREA_AVG,LIVINGAREA_MEDI,LIVINGAREA_MODE,NAME_CONTRACT_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,NAME_INCOME_TYPE,NAME_TYPE_SUITE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,OCCUPATION_TYPE,ORGANIZATION_TYPE,REGION_POPULATION_RELATIVE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,TARGET,TOTALAREA_MODE,WALLSMATERIAL_MODE,WEEKDAY_APPR_PROCESS_START,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,is_test,MEAN(bureau.DAYS_CREDIT),MEAN(bureau.CREDIT_DAY_OVERDUE),MEAN(bureau.DAYS_CREDIT_ENDDATE),MEAN(bureau.DAYS_ENDDATE_FACT),MEAN(bureau.CNT_CREDIT_PROLONG),MEAN(bureau.AMT_CREDIT_SUM),MEAN(bureau.AMT_CREDIT_SUM_DEBT),MEAN(bureau.AMT_CREDIT_SUM_LIMIT),MEAN(bureau.AMT_CREDIT_SUM_OVERDUE),MEAN(bureau.DAYS_CREDIT_UPDATE),SUM(bureau.DAYS_CREDIT),SUM(bureau.CREDIT_DAY_OVERDUE),SUM(bureau.DAYS_CREDIT_ENDDATE),SUM(bureau.DAYS_ENDDATE_FACT),SUM(bureau.CNT_CREDIT_PROLONG),SUM(bureau.AMT_CREDIT_SUM),SUM(bureau.AMT_CREDIT_SUM_DEBT),SUM(bureau.AMT_CREDIT_SUM_LIMIT),SUM(bureau.AMT_CREDIT_SUM_OVERDUE),SUM(bureau.DAYS_CREDIT_UPDATE),MODE(bureau.CREDIT_ACTIVE),MODE(bureau.CREDIT_CURRENCY),MODE(bureau.CREDIT_TYPE),MEAN(bureau_balance.MONTHS_BALANCE),SUM(bureau_balance.MONTHS_BALANCE),MODE(bureau_balance.STATUS),MEAN(bureau.MEAN(bureau_balance.MONTHS_BALANCE)),MEAN(bureau.SUM(bureau_balance.MONTHS_BALANCE)),SUM(bureau.MEAN(bureau_balance.MONTHS_BALANCE)),MODE(bureau.MODE(bureau_balance.STATUS))
count,2000,1999,2000,1999,2000,1743,1743,1743,1743,1743,1743,1006,1006,1006,2000,2000,NaN,2000,2000,2000,2000,2000,1996,1996,NaN,1021,1021,1021,1997,1626,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,NaN,NaN,2000,2000,1036,1036,1036,2000,NaN,2000,2000,1015,1015,1015,NaN,NaN,NaN,NaN,NaN,NaN,1996,1996,NaN,NaN,2000,2000,2000,2000,2000,2000,2000,1000,1055,NaN,NaN,1041,1041,1041,2000,1726,1726,1708,1513,1726,1726,1678,1579,1726,1726,1726,1726,1726,1726,1726,1726,1726,1726,1726,1726,NaN,NaN,NaN,1185,1185,NaN,1185,1185,1726,NaN
mean,102021,27896.9,547816,491481,169223,0.00401606,0.00631096,0.11704,0.412507,0.0183592,1.92714,0.114991,0.115683,0.112197,0.4225,2.169,NaN,-15846.3,60130.3,-2950.21,-1008.31,-4933.27,0.146293,0.101703,NaN,0.144192,0.14392,0.139985,0.515771,0.503488,0.998,0,0.0025,0,0.001,0.001,0.0005,0.005,0,0.003,0,0,0,0,0.7625,0,0.0155,0.075,0,0.084,0.004,0.1125,0.83,1,NaN,NaN,0.2775,0.2105,0.226184,0.225696,0.222257,11.9295,NaN,0.182,0.038,0.104602,0.106127,0.103785,NaN,NaN,NaN,NaN,NaN,NaN,1.41383,1.39579,NaN,NaN,0.0208797,2.058,2.0355,0.081,0.2355,0.0215,0.051,0.07,0.100982,NaN,NaN,0.979849,0.980141,0.978526,0.5,-1067.31,1.13134,744.972,-938.858,0.00488998,379669,167633,6214.21,170.598,-518.679,-6258.19,4.69525,3172.76,-3483.21,0.0249131,1.92155e+06,630702,20898.2,372.158,-3150.99,NaN,NaN,NaN,-22.0112,-5329.67,NaN,-18.1605,-869.114,-74.7123,NaN
std,2028.09,14932.5,372138,344620,90482.4,0.0862934,0.0792132,0.541145,0.682068,0.146549,1.8425,0.106359,0.107253,0.106777,0.728875,0.918619,NaN,4314.13,138135,1551.77,842.015,3528.81,0.441734,0.358467,NaN,0.098011,0.0983395,0.0993845,0.189555,0.191801,0.0446878,0,0.0499499,0,0.0316149,0.0316149,0.0223607,0.0705513,0,0.0547037,0,0,0,0,0.425658,0,0.123561,0.263457,0,0.277457,0.0631347,0.31606,0.375727,0,NaN,NaN,0.447877,0.407766,0.146372,0.146187,0.145403,3.29195,NaN,0.385941,0.191244,0.108941,0.11085,0.111485,NaN,NaN,NaN,NaN,NaN,NaN,2.34047,2.31713,NaN,NaN,0.0138933,0.500761,0.493317,0.272903,0.424417,0.14508,0.220053,0.255275,0.106957,NaN,NaN,0.0364896,0.0350724,0.0533549,0.500125,545.49,21.3165,3502.45,515.713,0.047293,622299,458202,26064.7,6539.13,415.941,5799.87,90.0598,13334.6,3881.42,0.18639,2.66465e+06,1.18708e+06,79550.1,13121.7,3425.34,NaN,NaN,NaN,11.0329,6039.79,NaN,9.98117,759.729,99.1095,NaN
min,100001,4504.5,45000,45000,31500,0,0,0,0,0,0,0,0,0,0,1,NaN,-25104,-15632,-6223,-3887,-17298,0,0,NaN,0,0,0,0.0028123,0.000527265,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,NaN,NaN,0,0,0,0,0,1,NaN,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0.001276,1,1,0,0,0,0,0,0,NaN,NaN,0,0,0,0,-2922,0,-2687,-2723,0,0,-568.57,0,0,-2713,-43985,0,-26762,-30343,0,0,-5117.13,0,0,-26711,NaN,NaN,NaN,-71.5,-40512,NaN,-71.5,-4560,-715.5,NaN
25%,100501,17190,267102,225000,112500,0,0,0,0,0,0,0.05595,0.056475,0.0504,0,2,NaN,-19369,-2787,-4311,-1624,-7307.5,0,0,NaN,0.069,0.069,0.069,0.39384,0.368969,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,NaN,NaN,0,0,0.1667,0.1667,0.1667,10,NaN,0,0,0.04465,0.04515,0.0429,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0.010006,2,2,0,0,0,0,0,0.04045,NaN,NaN,0.9767,0.9767,0.9762,0,-1403.6,0,-647.278,-1244.5,0,104428,0,0,0,-734.875,-9094,0,-2621,-5036,0,368932,0,0,0,-4594.5,NaN,NaN,NaN,-29.735,-7406,NaN,-23.9474,-1280.25,-112.875,NaN
50%,101000,25447.5,454500,450000,157500,0,0,0,0,0,2,0.0871,0.0874,0.084,0,2,NaN,-15552.5,-1286.5,-3125.5,-790.5,-4553,0,0,NaN,0.1379,0.1379,0.1379,0.570527,0.524496,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,NaN,NaN,0,0,0.1667,0.1667,0.1667,12,NaN,0,0,0.0734,0.0747,0.072,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0.01885,2,2,0,0,0,0,0,0.0685,NaN,NaN,0.9816,0.9816,0.9816,0.5,-1030.31,0,-115.983,-890,0,201067,50505.4,0,0,-459.75,-4606,0,-274.5,-2198,0,1.02203e+06,206460,0,0,-1994,NaN,NaN,NaN,-22.3174,-3271,NaN,-17.25,-703,-36.5,NaN
75%,103478,35311.5,732915,675000,202500,0,0,0,1,0,3,0.1464,0.1457,0.1429,1,3,NaN,-12224.2,-306.5,-1623,-317,-1906,0,0,NaN,0.1724,0.1724,0.1724,0.660907,0.656158,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,NaN,NaN,1,0,0.3333,0.3333,0.3333,14,NaN,0,0,0.12375,0.1258,0.1245,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,NaN,0.028663,2,2,0,0,0,0,0,0.1226,NaN,NaN,0.9866,0.9866,0.9866,1,-667.906,0,632.625,-557,0,422506,160030,0,0,-196.864,-1897.5,0,1803.25,-652.25,0,2.3118e+06,737853,0,0,-601.25,NaN,NaN,NaN,-13.5472,-893,NaN,-11,-287,0,NaN
max,106861,116266,2.28621e+06,2.25e+06,1.35e+06,3,1,9,5,3,9,1,1,1,8,10,NaN,-7705,365243,-1,0,-3,4,4,NaN,1,1,1,0.855,0.865896,1,0,1,0,1,1,1,1,0,1,0,0,0,0,1,0,1,1,0,1,1,1,1,1,NaN,NaN,1,1,1,1,1,23,NaN,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,23,23,NaN,NaN,0.072508,3,3,1,1,1,1,1,1,NaN,NaN,0.9995,0.9995,0.9995,1,-8,619,31084,-6,1,1.035e+07,1.00489e+07,450000,271017,0,-8,2476,112067,0,3,3.60384e+07,1.50118e+07,810000,542034,0,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN
counts,2000,1999,2000,1999,2000,1743,1743,1743,1743,1743,1743,1006,1006,1006,2000,2000,2000,2000,2000,2000,2000,2000,1996,1996,1070,1021,1021,1021,1997,1626,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,1036,1036,1036,2000,1018,2000,2000,1015,1015,1015,2000,2000,2000,2000,2000,1982,1996,1996,1396,2000,2000,2000,2000,2000,2000,2000,2000,1000,1055,1009,2000,1041,1041,1041,2000,1726,1726,1708,1513,1726,1726,1678,1579,1726,1726,1726,1726,1726,1726,1726,1726,1726,1726,1726,1726,1726,1726,1726,1185,1185,1185,1185,1185,1726,1185
uniques,2000,1453,779,240,118,3,2,9,6,3,10,315,282,252,6,7,2,1875,1403,1651,1273,1789,5,5,2,49,28,20,1967,473,2,1,2,1,2,2,2,2,1,2,1,1,1,1,2,1,2,2,1,2,2,2,2,1,2,2,2,2,52,30,21,23,3,2,2,796,792,792,2,4,5,6,4,7,18,19,18,51,78,3,3,2,2,2,2,2,793,7,7,92,91,91,2,1633,24,1644,1403,20,1633,1256,323,24,1518,1614,21,1612,1398,4,1632,1252,312,24,1448,2,1,6,1059,1033,3,684,1055,492,5
missing,0,1,0,1,0,257,257,257,257,257,257,994,994,994,0,0,0,0,0,0,0,0,4,4,930,979,979,979,3,374,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,964,964,964,0,982,0,0,985,985,985,0,0,0,0,0,18,4,4,604,0,0,0,0,0,0,0,0,1000,945,991,0,959,959,959,0,274,274,292,487,274,274,322,421,274,274,274,274,274,274,274,274,274,274,274,274,274,274,274,815,815,815,815,815,274,815
missing_perc,0%,0.05%,0%,0.05%,0%,12.85%,12.85%,12.85%,12.85%,12.85%,12.85%,49.70%,49.70%,49.70%,0%,0%,0%,0%,0%,0%,0%,0%,0.20%,0.20%,46.50%,48.95%,48.95%,48.95%,0.15%,18.70%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,48.20%,48.20%,48.20%,0%,49.10%,0%,0%,49.25%,49.25%,49.25%,0%,0%,0%,0%,0%,0.90%,0.20%,0.20%,30.20%,0%,0%,0%,0%,0%,0%,0%,0%,50%,47.25%,49.55%,0%,47.95%,47.95%,47.95%,0%,13.70%,13.70%,14.60%,24.35%,13.70%,13.70%,16.10%,21.05%,13.70%,13.70%,13.70%,13.70%,13.70%,13.70%,13.70%,13.70%,13.70%,13.70%,13.70%,13.70%,13.70%,13.70%,13.70%,40.75%,40.75%,40.75%,40.75%,40.75%,13.70%,40.75%
types,numeric,numeric,numeric,numeric,numeric,numeric,bool,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,bool,numeric,numeric,numeric,numeric,numeric,numeric,numeric,bool,numeric,numeric,numeric,numeric,numeric,bool,constant,bool,constant,bool,bool,bool,bool,constant,bool,constant,constant,constant,constant,bool,constant,bool,bool,constant,bool,bool,bool,bool,constant,bool,bool,bool,bool,numeric,numeric,numeric,numeric,categorical,bool,bool,numeric,numeric,numeric,bool,categorical,categorical,categorical,categorical,categorical,numeric,numeric,categorical,categorical,numeric,numeric,numeric,bool,bool,bool,bool,bool,numeric,categorical,categorical,numeric,numeric,numeric,bool,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,bool,constant,categorical,numeric,numeric,categorical,numeric,numeric,numeric,categorical

In [176]:
delete_by_nan(df_all)

In [177]:
[print(c) for c in df_all.columns]

SK_ID_CURR
AMT_ANNUITY
AMT_CREDIT
AMT_GOODS_PRICE
AMT_INCOME_TOTAL
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_YEAR
APARTMENTS_AVG
APARTMENTS_MEDI
APARTMENTS_MODE
CNT_CHILDREN
CNT_FAM_MEMBERS
CODE_GENDER
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_ID_PUBLISH
DAYS_LAST_PHONE_CHANGE
DAYS_REGISTRATION
DEF_30_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
EMERGENCYSTATE_MODE
ENTRANCES_AVG
ENTRANCES_MEDI
ENTRANCES_MODE
EXT_SOURCE_2
EXT_SOURCE_3
FLAG_CONT_MOBILE
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_2
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_EMAIL
FLAG_EMP_PHONE
FLAG_MOBIL
FLAG_OWN_CAR
FLAG_OWN_REALTY
FLAG_PHONE
FLAG_WORK_PHONE
FLOORSMAX_AVG
FLOORSMAX_MEDI
FLOORSMAX_MODE
HOUR_APPR_PROCESS_START
HOUSETYPE_MODE
LIVE_CITY_NOT_WORK_CITY
LIVE_REGION_NOT_WORK_REGION
LIVINGAREA_AVG
LIVINGAREA_MEDI
LIVINGAREA_MODE
NAME_CONTRACT_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
NAME_INCOME_TYPE
NAME_TYPE_SUITE
OBS_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
OCCUPATION_TYPE
ORGANIZATION_TYPE
REGION_POPULATION_RELATIVE
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
TARGET
TOTALAREA_MODE
WALLSMATERIAL_MODE
WEEKDAY_APPR_PROCESS_START
YEARS_BEGINEXPLUATATION_AVG
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BEGINEXPLUATATION_MODE
is_test
MEAN(bureau.DAYS_CREDIT)
MEAN(bureau.CREDIT_DAY_OVERDUE)
MEAN(bureau.DAYS_CREDIT_ENDDATE)
MEAN(bureau.DAYS_ENDDATE_FACT)
MEAN(bureau.CNT_CREDIT_PROLONG)
MEAN(bureau.AMT_CREDIT_SUM)
MEAN(bureau.AMT_CREDIT_SUM_DEBT)
MEAN(bureau.AMT_CREDIT_SUM_LIMIT)
MEAN(bureau.AMT_CREDIT_SUM_OVERDUE)
MEAN(bureau.DAYS_CREDIT_UPDATE)
SUM(bureau.DAYS_CREDIT)
SUM(bureau.CREDIT_DAY_OVERDUE)
SUM(bureau.DAYS_CREDIT_ENDDATE)
SUM(bureau.DAYS_ENDDATE_FACT)
SUM(bureau.CNT_CREDIT_PROLONG)
SUM(bureau.AMT_CREDIT_SUM)
SUM(bureau.AMT_CREDIT_SUM_DEBT)
SUM(bureau.AMT_CREDIT_SUM_LIMIT)
SUM(bureau.AMT_CREDIT_SUM_OVERDUE)
SUM(bureau.DAYS_CREDIT_UPDATE)
MODE(bureau.CREDIT_ACTIVE)
MODE(bureau.CREDIT_CURRENCY)
MODE(bureau.CREDIT_TYPE)
MEAN(bureau_balance.MONTHS_BALANCE)
SUM(bureau_balance.MONTHS_BALANCE)
MODE(bureau_balance.STATUS)
MEAN(bureau.MEAN(bureau_balance.MONTHS_BALANCE))
MEAN(bureau.SUM(bureau_balance.MONTHS_BALANCE))
SUM(bureau.MEAN(bureau_balance.MONTHS_BALANCE))
MODE(bureau.MODE(bureau_balance.STATUS))

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]