In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

Are we have info about test customers in preiouses data?

In [81]:
import gc
import sys
sys.path.append('../')

from fastai.structured import *
from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)
from IPython.display import HTML, display
from sklearn import metrics

MERED = "merged"
#PATH = "../../../data/home-credit-default-risk/"
PATH = "../../data/home-credit-default-risk/"

In [3]:
ls {PATH}

application_test.csv         HomeCredit_columns_description.csv
application_test.csv.zip     installments_payments.csv
application_train.csv        installments_payments.csv.zip
application_train.csv.zip    merged/
bureau_balance.csv           POS_CASH_balance.csv
bureau_balance.csv.zip       POS_CASH_balance.csv.zip
bureau.csv                   previous_application.csv
bureau.csv.zip               previous_application.csv.zip
credit_card_balance.csv      sample_submission.csv.zip
credit_card_balance.csv.zip

In [4]:
file_names = ['application_train', 'application_test']
tables = [pd.read_csv(f'{PATH}{file_name}.csv',low_memory=False) for file_name in file_names]

In [7]:
for t in tables: display(t.head())

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
for t in tables: display(DataFrameSummary(t).summary())

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511,307511,NaN,NaN,NaN,NaN,307511,307511,307511,307499,...,307511,307511,307511,307511,265992,265992,265992,265992,265992,265992
mean,278181,0.0807288,NaN,NaN,NaN,NaN,0.417052,168798,599026,27108.6,...,0.00812979,0.000595101,0.000507299,0.000334947,0.00640245,0.00700021,0.0343619,0.267395,0.265474,1.89997
std,102790,0.272419,NaN,NaN,NaN,NaN,0.722121,237123,402491,14493.7,...,0.0897982,0.0243875,0.0225176,0.0182985,0.0838491,0.110757,0.204685,0.916002,0.794056,1.86929
min,100002,0,NaN,NaN,NaN,NaN,0,25650,45000,1615.5,...,0,0,0,0,0,0,0,0,0,0
25%,189146,0,NaN,NaN,NaN,NaN,0,112500,270000,16524,...,0,0,0,0,0,0,0,0,0,0
50%,278202,0,NaN,NaN,NaN,NaN,0,147150,513531,24903,...,0,0,0,0,0,0,0,0,0,1
75%,367142,0,NaN,NaN,NaN,NaN,1,202500,808650,34596,...,0,0,0,0,0,0,0,0,0,3
max,456255,1,NaN,NaN,NaN,NaN,19,1.17e+08,4.05e+06,258026,...,1,1,1,1,4,9,8,27,261,25
counts,307511,307511,307511,307511,307511,307511,307511,307511,307511,307499,...,307511,307511,307511,307511,265992,265992,265992,265992,265992,265992
uniques,307511,2,2,3,2,2,15,2548,5603,13672,...,2,2,2,2,5,9,9,24,11,25
missing,0,0,0,0,0,0,0,0,0,12,...,0,0,0,0,41519,41519,41519,41519,41519,41519
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0.00%,...,0%,0%,0%,0%,13.50%,13.50%,13.50%,13.50%,13.50%,13.50%
types,numeric,bool,bool,categorical,bool,bool,numeric,numeric,numeric,numeric,...,bool,bool,bool,bool,numeric,numeric,numeric,numeric,numeric,numeric

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,48744,NaN,NaN,NaN,NaN,48744,48744,48744,48720,48744,...,48744,48744,48744,48744,42695,42695,42695,42695,42695,42695
mean,277797,NaN,NaN,NaN,NaN,0.397054,178432,516740,29426.2,462619,...,0.00155917,0,0,0,0.00210798,0.00180349,0.00278721,0.00929851,0.546902,1.98377
std,103170,NaN,NaN,NaN,NaN,0.709047,101523,365397,16016.4,336710,...,0.0394559,0,0,0,0.0463727,0.0461324,0.0540374,0.110924,0.693305,1.83887
min,100001,NaN,NaN,NaN,NaN,0,26941.5,45000,2295,45000,...,0,0,0,0,0,0,0,0,0,0
25%,188558,NaN,NaN,NaN,NaN,0,112500,260640,17973,225000,...,0,0,0,0,0,0,0,0,0,0
50%,277549,NaN,NaN,NaN,NaN,0,157500,450000,26199,396000,...,0,0,0,0,0,0,0,0,0,2
75%,367556,NaN,NaN,NaN,NaN,1,225000,675000,37390.5,630000,...,0,0,0,0,0,0,0,0,1,3
max,456250,NaN,NaN,NaN,NaN,20,4.41e+06,2.2455e+06,180576,2.2455e+06,...,1,0,0,0,2,2,2,6,7,17
counts,48744,48744,48744,48744,48744,48744,48744,48744,48720,48744,...,48744,48744,48744,48744,42695,42695,42695,42695,42695,42695
uniques,48744,2,2,2,2,11,606,2937,7491,677,...,2,1,1,1,3,3,3,7,8,16
missing,0,0,0,0,0,0,0,0,24,0,...,0,0,0,0,6049,6049,6049,6049,6049,6049
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0.05%,0%,...,0%,0%,0%,0%,12.41%,12.41%,12.41%,12.41%,12.41%,12.41%
types,numeric,bool,bool,bool,bool,numeric,numeric,numeric,numeric,numeric,...,bool,constant,constant,constant,numeric,numeric,numeric,numeric,numeric,numeric

In [9]:
train, test = tables

In [10]:
len(train), len(test)

(307511, 48744)

In [71]:
cat_vars = ['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
           'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
           'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
           'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 
           'OCCUPATION_TYPE','CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
           'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 
           'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
           'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'HOUSETYPE_MODE', 
            'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 
            'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
            'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
            'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 
            'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
            'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_YEAR']

contin_vars = ['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'EXT_SOURCE_1', 'EXT_SOURCE_2',
              'EXT_SOURCE_3', 'YEARS_BEGINEXPLUATATION_AVG', 'APARTMENTS_AVG', 'COMMONAREA_AVG', 'YEARS_BEGINEXPLUATATION_MODE',
               'APARTMENTS_MODE', 'COMMONAREA_MODE', 'YEARS_BEGINEXPLUATATION_MEDI', 'APARTMENTS_MEDI', 'COMMONAREA_MEDI',
               'TOTALAREA_MODE']
n = len(train); n

307511

In [64]:
dep = 'TARGET'
joined = train[cat_vars+contin_vars+[dep]].copy()

In [66]:
test[dep] = 0
joined_test = test[cat_vars+contin_vars+[dep]].copy()

In [67]:
for v in cat_vars: joined[v] = joined[v].astype('category').cat.as_ordered()

In [68]:
apply_cats(test, joined)

In [69]:
for v in contin_vars:
    joined[v] = joined[v].fillna(0).astype('float32')
    joined_test[v] = joined_test[v].fillna(0).astype('float32')

In [72]:
idxs = get_cv_idxs(n, val_pct=150000/n)
joined_samp = joined.iloc[idxs].set_index("SK_ID_CURR")
samp_size = len(joined_samp); samp_size

150000

In [73]:
samp_size = n
joined_samp = joined.set_index("SK_ID_CURR")

In [74]:
joined_samp.head(2)

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,APARTMENTS_AVG,COMMONAREA_AVG,YEARS_BEGINEXPLUATATION_MODE,APARTMENTS_MODE,COMMONAREA_MODE,YEARS_BEGINEXPLUATATION_MEDI,APARTMENTS_MEDI,COMMONAREA_MEDI,TOTALAREA_MODE,TARGET
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,Cash loans,M,N,Y,0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,...,0.0247,0.0143,0.9722,0.0252,0.0144,0.9722,0.0250,0.0144,0.0149,1
100003,Cash loans,F,N,N,0,Family,State servant,Higher education,Married,House / apartment,...,0.0959,0.0605,0.9851,0.0924,0.0497,0.9851,0.0968,0.0608,0.0714,0

In [75]:
df, y, nas, mapper = proc_df(joined_samp, dep, do_scale=True)
yl = np.log(y)

/home/paperspace/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log

In [76]:
joined_test = joined_test.set_index("SK_ID_CURR")

In [78]:
df_test, _, nas, mapper = proc_df(joined_test, dep, do_scale=True,
                                  mapper=mapper, na_dict=nas)

In [79]:
df.head(2)

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,YEARS_BEGINEXPLUATATION_AVG,APARTMENTS_AVG,COMMONAREA_AVG,YEARS_BEGINEXPLUATATION_MODE,APARTMENTS_MODE,COMMONAREA_MODE,YEARS_BEGINEXPLUATATION_MEDI,APARTMENTS_MEDI,COMMONAREA_MEDI,TOTALAREA_MODE
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,2,1,2,1,7,8,5,4,2,...,0.960978,-0.345180,0.018432,0.961653,-0.327407,0.034883,0.960861,-0.342056,0.020727,-0.411375
100003,1,1,1,1,1,2,5,2,2,2,...,0.987275,0.396431,1.012286,0.987949,0.380977,0.814370,0.987155,0.401242,1.017847,0.197887

In [90]:
#df[df.SK_ID_CURR == 230633]
#df.iloc[230633]
df.columns

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'CNT_CHILDREN', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE',
       'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL',
       'FLAG_EMP_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL',
       'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START',
       'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'HOUSETYPE_MODE',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'EXT_SOURCE_1', 'EXT_SOURCE_2',
       'EXT_SOURCE_3', 'YEARS_BEGINEXPLUATATION_AVG', 'APARTMENTS_AVG',
       'COMMONAREA_AVG', 'YEARS_BEGINEXPLUATATION_MODE', 'APARTMENTS_MODE',
       'COMMONAREA_MODE', 'YEARS_BEGINEXPLUATATION_MEDI', 'APARTMENTS_MEDI',
       'COMMONAREA_MEDI', 'TOTALAREA_MODE'],
      dtype='object')

In [86]:
train_ratio = 0.75
# train_ratio = 0.9
train_size = int(samp_size * train_ratio); train_size
val_idx = list(range(train_size, len(df)))

val_idx

[230633,
 230634,
 230635,
 230636,
 230637,
 230638,
 230639,
 230640,
 230641,
 230642,
 230643,
 230644,
 230645,
 230646,
 230647,
 230648,
 230649,
 230650,
 230651,
 230652,
 230653,
 230654,
 230655,
 230656,
 230657,
 230658,
 230659,
 230660,
 230661,
 230662,
 230663,
 230664,
 230665,
 230666,
 230667,
 230668,
 230669,
 230670,
 230671,
 230672,
 230673,
 230674,
 230675,
 230676,
 230677,
 230678,
 230679,
 230680,
 230681,
 230682,
 230683,
 230684,
 230685,
 230686,
 230687,
 230688,
 230689,
 230690,
 230691,
 230692,
 230693,
 230694,
 230695,
 230696,
 230697,
 230698,
 230699,
 230700,
 230701,
 230702,
 230703,
 230704,
 230705,
 230706,
 230707,
 230708,
 230709,
 230710,
 230711,
 230712,
 230713,
 230714,
 230715,
 230716,
 230717,
 230718,
 230719,
 230720,
 230721,
 230722,
 230723,
 230724,
 230725,
 230726,
 230727,
 230728,
 230729,
 230730,
 230731,
 230732,
 230733,
 230734,
 230735,
 230736,
 230737,
 230738,
 230739,
 230740,
 230741,
 230742,
 230743,
 230744,
 230745,
 230746,
 230747,
 230748,
 230749,
 230750,
 230751,
 230752,
 230753,
 230754,
 230755,
 230756,
 230757,
 230758,
 230759,
 230760,
 230761,
 230762,
 230763,
 230764,
 230765,
 230766,
 230767,
 230768,
 230769,
 230770,
 230771,
 230772,
 230773,
 230774,
 230775,
 230776,
 230777,
 230778,
 230779,
 230780,
 230781,
 230782,
 230783,
 230784,
 230785,
 230786,
 230787,
 230788,
 230789,
 230790,
 230791,
 230792,
 230793,
 230794,
 230795,
 230796,
 230797,
 230798,
 230799,
 230800,
 230801,
 230802,
 230803,
 230804,
 230805,
 230806,
 230807,
 230808,
 230809,
 230810,
 230811,
 230812,
 230813,
 230814,
 230815,
 230816,
 230817,
 230818,
 230819,
 230820,
 230821,
 230822,
 230823,
 230824,
 230825,
 230826,
 230827,
 230828,
 230829,
 230830,
 230831,
 230832,
 230833,
 230834,
 230835,
 230836,
 230837,
 230838,
 230839,
 230840,
 230841,
 230842,
 230843,
 230844,
 230845,
 230846,
 230847,
 230848,
 230849,
 230850,
 230851,
 230852,
 230853,
 230854,
 230855,
 230856,
 230857,
 230858,
 230859,
 230860,
 230861,
 230862,
 230863,
 230864,
 230865,
 230866,
 230867,
 230868,
 230869,
 230870,
 230871,
 230872,
 230873,
 230874,
 230875,
 230876,
 230877,
 230878,
 230879,
 230880,
 230881,
 230882,
 230883,
 230884,
 230885,
 230886,
 230887,
 230888,
 230889,
 230890,
 230891,
 230892,
 230893,
 230894,
 230895,
 230896,
 230897,
 230898,
 230899,
 230900,
 230901,
 230902,
 230903,
 230904,
 230905,
 230906,
 230907,
 230908,
 230909,
 230910,
 230911,
 230912,
 230913,
 230914,
 230915,
 230916,
 230917,
 230918,
 230919,
 230920,
 230921,
 230922,
 230923,
 230924,
 230925,
 230926,
 230927,
 230928,
 230929,
 230930,
 230931,
 230932,
 230933,
 230934,
 230935,
 230936,
 230937,
 230938,
 230939,
 230940,
 230941,
 230942,
 230943,
 230944,
 230945,
 230946,
 230947,
 230948,
 230949,
 230950,
 230951,
 230952,
 230953,
 230954,
 230955,
 230956,
 230957,
 230958,
 230959,
 230960,
 230961,
 230962,
 230963,
 230964,
 230965,
 230966,
 230967,
 230968,
 230969,
 230970,
 230971,
 230972,
 230973,
 230974,
 230975,
 230976,
 230977,
 230978,
 230979,
 230980,
 230981,
 230982,
 230983,
 230984,
 230985,
 230986,
 230987,
 230988,
 230989,
 230990,
 230991,
 230992,
 230993,
 230994,
 230995,
 230996,
 230997,
 230998,
 230999,
 231000,
 231001,
 231002,
 231003,
 231004,
 231005,
 231006,
 231007,
 231008,
 231009,
 231010,
 231011,
 231012,
 231013,
 231014,
 231015,
 231016,
 231017,
 231018,
 231019,
 231020,
 231021,
 231022,
 231023,
 231024,
 231025,
 231026,
 231027,
 231028,
 231029,
 231030,
 231031,
 231032,
 231033,
 231034,
 231035,
 231036,
 231037,
 231038,
 231039,
 231040,
 231041,
 231042,
 231043,
 231044,
 231045,
 231046,
 231047,
 231048,
 231049,
 231050,
 231051,
 231052,
 231053,
 231054,
 231055,
 231056,
 231057,
 231058,
 231059,
 231060,
 231061,
 231062,
 231063,
 231064,
 231065,
 231066,
 231067,
 231068,
 231069,
 231070,
 231071,
 231072,
 231073,
 231074,
 231075,
 231076,
 231077,
 231078,
 231079,
 231080,
 231081,
 231082,
 231083,
 231084,
 231085,
 231086,
 231087,
 231088,
 231089,
 231090,
 231091,
 231092,
 231093,
 231094,
 231095,
 231096,
 231097,
 231098,
 231099,
 231100,
 231101,
 231102,
 231103,
 231104,
 231105,
 231106,
 231107,
 231108,
 231109,
 231110,
 231111,
 231112,
 231113,
 231114,
 231115,
 231116,
 231117,
 231118,
 231119,
 231120,
 231121,
 231122,
 231123,
 231124,
 231125,
 231126,
 231127,
 231128,
 231129,
 231130,
 231131,
 231132,
 231133,
 231134,
 231135,
 231136,
 231137,
 231138,
 231139,
 231140,
 231141,
 231142,
 231143,
 231144,
 231145,
 231146,
 231147,
 231148,
 231149,
 231150,
 231151,
 231152,
 231153,
 231154,
 231155,
 231156,
 231157,
 231158,
 231159,
 231160,
 231161,
 231162,
 231163,
 231164,
 231165,
 231166,
 231167,
 231168,
 231169,
 231170,
 231171,
 231172,
 231173,
 231174,
 231175,
 231176,
 231177,
 231178,
 231179,
 231180,
 231181,
 231182,
 231183,
 231184,
 231185,
 231186,
 231187,
 231188,
 231189,
 231190,
 231191,
 231192,
 231193,
 231194,
 231195,
 231196,
 231197,
 231198,
 231199,
 231200,
 231201,
 231202,
 231203,
 231204,
 231205,
 231206,
 231207,
 231208,
 231209,
 231210,
 231211,
 231212,
 231213,
 231214,
 231215,
 231216,
 231217,
 231218,
 231219,
 231220,
 231221,
 231222,
 231223,
 231224,
 231225,
 231226,
 231227,
 231228,
 231229,
 231230,
 231231,
 231232,
 231233,
 231234,
 231235,
 231236,
 231237,
 231238,
 231239,
 231240,
 231241,
 231242,
 231243,
 231244,
 231245,
 231246,
 231247,
 231248,
 231249,
 231250,
 231251,
 231252,
 231253,
 231254,
 231255,
 231256,
 231257,
 231258,
 231259,
 231260,
 231261,
 231262,
 231263,
 231264,
 231265,
 231266,
 231267,
 231268,
 231269,
 231270,
 231271,
 231272,
 231273,
 231274,
 231275,
 231276,
 231277,
 231278,
 231279,
 231280,
 231281,
 231282,
 231283,
 231284,
 231285,
 231286,
 231287,
 231288,
 231289,
 231290,
 231291,
 231292,
 231293,
 231294,
 231295,
 231296,
 231297,
 231298,
 231299,
 231300,
 231301,
 231302,
 231303,
 231304,
 231305,
 231306,
 231307,
 231308,
 231309,
 231310,
 231311,
 231312,
 231313,
 231314,
 231315,
 231316,
 231317,
 231318,
 231319,
 231320,
 231321,
 231322,
 231323,
 231324,
 231325,
 231326,
 231327,
 231328,
 231329,
 231330,
 231331,
 231332,
 231333,
 231334,
 231335,
 231336,
 231337,
 231338,
 231339,
 231340,
 231341,
 231342,
 231343,
 231344,
 231345,
 231346,
 231347,
 231348,
 231349,
 231350,
 231351,
 231352,
 231353,
 231354,
 231355,
 231356,
 231357,
 231358,
 231359,
 231360,
 231361,
 231362,
 231363,
 231364,
 231365,
 231366,
 231367,
 231368,
 231369,
 231370,
 231371,
 231372,
 231373,
 231374,
 231375,
 231376,
 231377,
 231378,
 231379,
 231380,
 231381,
 231382,
 231383,
 231384,
 231385,
 231386,
 231387,
 231388,
 231389,
 231390,
 231391,
 231392,
 231393,
 231394,
 231395,
 231396,
 231397,
 231398,
 231399,
 231400,
 231401,
 231402,
 231403,
 231404,
 231405,
 231406,
 231407,
 231408,
 231409,
 231410,
 231411,
 231412,
 231413,
 231414,
 231415,
 231416,
 231417,
 231418,
 231419,
 231420,
 231421,
 231422,
 231423,
 231424,
 231425,
 231426,
 231427,
 231428,
 231429,
 231430,
 231431,
 231432,
 231433,
 231434,
 231435,
 231436,
 231437,
 231438,
 231439,
 231440,
 231441,
 231442,
 231443,
 231444,
 231445,
 231446,
 231447,
 231448,
 231449,
 231450,
 231451,
 231452,
 231453,
 231454,
 231455,
 231456,
 231457,
 231458,
 231459,
 231460,
 231461,
 231462,
 231463,
 231464,
 231465,
 231466,
 231467,
 231468,
 231469,
 231470,
 231471,
 231472,
 231473,
 231474,
 231475,
 231476,
 231477,
 231478,
 231479,
 231480,
 231481,
 231482,
 231483,
 231484,
 231485,
 231486,
 231487,
 231488,
 231489,
 231490,
 231491,
 231492,
 231493,
 231494,
 231495,
 231496,
 231497,
 231498,
 231499,
 231500,
 231501,
 231502,
 231503,
 231504,
 231505,
 231506,
 231507,
 231508,
 231509,
 231510,
 231511,
 231512,
 231513,
 231514,
 231515,
 231516,
 231517,
 231518,
 231519,
 231520,
 231521,
 231522,
 231523,
 231524,
 231525,
 231526,
 231527,
 231528,
 231529,
 231530,
 231531,
 231532,
 231533,
 231534,
 231535,
 231536,
 231537,
 231538,
 231539,
 231540,
 231541,
 231542,
 231543,
 231544,
 231545,
 231546,
 231547,
 231548,
 231549,
 231550,
 231551,
 231552,
 231553,
 231554,
 231555,
 231556,
 231557,
 231558,
 231559,
 231560,
 231561,
 231562,
 231563,
 231564,
 231565,
 231566,
 231567,
 231568,
 231569,
 231570,
 231571,
 231572,
 231573,
 231574,
 231575,
 231576,
 231577,
 231578,
 231579,
 231580,
 231581,
 231582,
 231583,
 231584,
 231585,
 231586,
 231587,
 231588,
 231589,
 231590,
 231591,
 231592,
 231593,
 231594,
 231595,
 231596,
 231597,
 231598,
 231599,
 231600,
 231601,
 231602,
 231603,
 231604,
 231605,
 231606,
 231607,
 231608,
 231609,
 231610,
 231611,
 231612,
 231613,
 231614,
 231615,
 231616,
 231617,
 231618,
 231619,
 231620,
 231621,
 231622,
 231623,
 231624,
 231625,
 231626,
 231627,
 231628,
 231629,
 231630,
 231631,
 231632,
 ...]

In [82]:
def inv_y(a): return np.exp(a)

def exp_rmspe(y_pred, targ):
    fpr, tpr, thresholds = metrics.roc_curve(targ, y_pred)
    return thresholds

max_log_y = np.max(yl)
y_range = (0, max_log_y*1.2)

In [89]:
??ColumnarModelData.from_data_frame

In [83]:
md = ColumnarModelData.from_data_frame(PATH, val_idx, df, yl.astype(np.float32), cat_flds=cat_vars, bs=128,
                                       test_df=df_test)

KeyError: "['SK_ID_CURR'] not in index"