In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
import gc
import sys
sys.path.append('../')

from fastai.structured import *
from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)
from IPython.display import HTML, display
from sklearn import metrics
import traceback 

MERED = "merged"
PATH = "../../../data/home-credit-default-risk/"
#PATH = "../../data/home-credit-default-risk/"

/home/max/anaconda3/envs/fastai-cpu/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/max/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [3]:
file_names = ['application_train', 'application_test']
tables = [pd.read_csv(f'{PATH}{file_name}.csv',low_memory=False) for file_name in file_names]

In [11]:
for t in tables:
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000):
        display(DataFrameSummary(t).summary())

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511,307511,NaN,NaN,NaN,NaN,307511,307511,307511,307499,307233,NaN,NaN,NaN,NaN,NaN,307511,307511,307511,307511,307511,104582,307511,307511,307511,307511,307511,307511,NaN,307509,307511,307511,NaN,307511,307511,307511,307511,307511,307511,307511,NaN,134133,306851,246546,151450,127568,157504,103023,92646,143620,152683,154491,98869,124921,97312,153161,93997,137829,151450,127568,157504,103023,92646,143620,152683,154491,98869,124921,97312,153161,93997,137829,151450,127568,157504,103023,92646,143620,152683,154491,98869,124921,97312,153161,93997,137829,NaN,NaN,159080,NaN,NaN,306490,306490,306490,306490,307510,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,265992,265992,265992,265992,265992,265992
mean,278181,0.0807288,NaN,NaN,NaN,NaN,0.417052,168798,599026,27108.6,538396,NaN,NaN,NaN,NaN,NaN,0.0208681,-16037,63815,-4986.12,-2994.2,12.0611,0.999997,0.819889,0.199368,0.998133,0.281066,0.0567199,NaN,2.15267,2.05246,2.03152,NaN,12.0634,0.0151442,0.0507689,0.0406587,0.0781728,0.230454,0.179555,NaN,0.50213,0.514393,0.510853,0.11744,0.0884422,0.977735,0.752471,0.0446207,0.0789415,0.149725,0.226282,0.231894,0.0663332,0.100775,0.107399,0.00880867,0.0283578,0.114231,0.0875432,0.977065,0.759637,0.0425531,0.0744897,0.145193,0.222315,0.228058,0.0649577,0.105645,0.105975,0.00807639,0.0270223,0.11785,0.0879549,0.977752,0.755746,0.0445951,0.0780778,0.149213,0.225897,0.231625,0.0671687,0.101954,0.108607,0.00865101,0.0282359,NaN,NaN,0.102547,NaN,NaN,1.42225,0.143421,1.40529,0.100049,-962.859,4.22749e-05,0.710023,8.12979e-05,0.0151149,0.0880554,0.000191863,0.081376,0.0038958,2.27634e-05,0.00391206,6.50383e-06,0.00352508,0.00293648,0.00120971,0.0099281,0.000266657,0.00812979,0.000595101,0.000507299,0.000334947,0.00640245,0.00700021,0.0343619,0.267395,0.265474,1.89997
std,102790,0.272419,NaN,NaN,NaN,NaN,0.722121,237123,402491,14493.7,369446,NaN,NaN,NaN,NaN,NaN,0.0138313,4363.99,141276,3522.89,1509.45,11.9448,0.00180331,0.38428,0.399526,0.0431639,0.449521,0.231307,NaN,0.910682,0.509034,0.502737,NaN,3.26583,0.122126,0.219526,0.197499,0.268444,0.421124,0.383817,NaN,0.211062,0.19106,0.194844,0.10824,0.0824382,0.0592233,0.11328,0.0760357,0.134576,0.100049,0.144641,0.16138,0.0811836,0.0925761,0.110565,0.0477317,0.0695232,0.107936,0.0843072,0.0645754,0.110111,0.0744445,0.132256,0.100977,0.143709,0.16116,0.0817503,0.0978804,0.111845,0.0462763,0.0702539,0.109076,0.0821787,0.0598973,0.112066,0.0761443,0.134467,0.100368,0.145067,0.161934,0.082167,0.0936423,0.11226,0.0474147,0.0701665,NaN,NaN,0.107462,NaN,NaN,2.40099,0.446698,2.3798,0.362291,826.808,0.00650179,0.453752,0.00901618,0.12201,0.283376,0.0138502,0.273412,0.0622947,0.00477106,0.0624241,0.00255026,0.0592677,0.0541098,0.0347599,0.0991442,0.0163275,0.0897982,0.0243875,0.0225176,0.0182985,0.0838491,0.110757,0.204685,0.916002,0.794056,1.86929
min,100002,0,NaN,NaN,NaN,NaN,0,25650,45000,1615.5,40500,NaN,NaN,NaN,NaN,NaN,0.00029,-25229,-17912,-24672,-7197,0,0,0,0,0,0,0,NaN,1,1,1,NaN,0,0,0,0,0,0,0,NaN,0.0145681,8.17362e-08,0.000527265,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,NaN,0,0,0,0,-4292,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25%,189146,0,NaN,NaN,NaN,NaN,0,112500,270000,16524,238500,NaN,NaN,NaN,NaN,NaN,0.010006,-19682,-2760,-7479.5,-4299,5,1,1,0,1,0,0,NaN,2,2,2,NaN,10,0,0,0,0,0,0,NaN,0.334007,0.392457,0.37065,0.0577,0.0442,0.9767,0.6872,0.0078,0,0.069,0.1667,0.0833,0.0187,0.0504,0.0453,0,0,0.0525,0.0407,0.9767,0.6994,0.0072,0,0.069,0.1667,0.0833,0.0166,0.0542,0.0427,0,0,0.0583,0.0437,0.9767,0.6914,0.0079,0,0.069,0.1667,0.0833,0.0187,0.0513,0.0457,0,0,NaN,NaN,0.0412,NaN,NaN,0,0,0,0,-1570,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
50%,278202,0,NaN,NaN,NaN,NaN,0,147150,513531,24903,450000,NaN,NaN,NaN,NaN,NaN,0.01885,-15750,-1213,-4504,-3254,9,1,1,0,1,0,0,NaN,2,2,2,NaN,12,0,0,0,0,0,0,NaN,0.505998,0.565961,0.535276,0.0876,0.0763,0.9816,0.7552,0.0211,0,0.1379,0.1667,0.2083,0.0481,0.0756,0.0745,0,0.0036,0.084,0.0746,0.9816,0.7648,0.019,0,0.1379,0.1667,0.2083,0.0458,0.0771,0.0731,0,0.0011,0.0864,0.0758,0.9816,0.7585,0.0208,0,0.1379,0.1667,0.2083,0.0487,0.0761,0.0749,0,0.0031,NaN,NaN,0.0688,NaN,NaN,0,0,0,0,-757,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
75%,367142,0,NaN,NaN,NaN,NaN,1,202500,808650,34596,679500,NaN,NaN,NaN,NaN,NaN,0.028663,-12413,-289,-2010,-1720,15,1,1,0,1,1,0,NaN,3,2,2,NaN,14,0,0,0,0,0,0,NaN,0.675053,0.663617,0.669057,0.1485,0.1122,0.9866,0.8232,0.0515,0.12,0.2069,0.3333,0.375,0.0856,0.121,0.1299,0.0039,0.0277,0.1439,0.1124,0.9866,0.8236,0.049,0.1208,0.2069,0.3333,0.375,0.0841,0.1313,0.1252,0.0039,0.0231,0.1489,0.1116,0.9866,0.8256,0.0513,0.12,0.2069,0.3333,0.375,0.0868,0.1231,0.1303,0.0039,0.0266,NaN,NaN,0.1276,NaN,NaN,2,0,2,0,-274,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3
max,456255,1,NaN,NaN,NaN,NaN,19,1.17e+08,4.05e+06,258026,4.05e+06,NaN,NaN,NaN,NaN,NaN,0.072508,-7489,365243,0,0,91,1,1,1,1,1,1,NaN,20,3,3,NaN,23,1,1,1,1,1,1,NaN,0.962693,0.855,0.89601,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,1,NaN,NaN,348,34,344,24,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,9,8,27,261,25
counts,307511,307511,307511,307511,307511,307511,307511,307511,307511,307499,307233,306219,307511,307511,307511,307511,307511,307511,307511,307511,307511,104582,307511,307511,307511,307511,307511,307511,211120,307509,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,134133,306851,246546,151450,127568,157504,103023,92646,143620,152683,154491,98869,124921,97312,153161,93997,137829,151450,127568,157504,103023,92646,143620,152683,154491,98869,124921,97312,153161,93997,137829,151450,127568,157504,103023,92646,143620,152683,154491,98869,124921,97312,153161,93997,137829,97216,153214,159080,151170,161756,306490,306490,306490,306490,307510,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,265992,265992,265992,265992,265992,265992
uniques,307511,2,2,3,2,2,15,2548,5603,13672,1002,7,8,5,6,6,81,17460,12574,15688,6168,62,2,2,2,2,2,2,18,17,3,3,7,24,2,2,2,2,2,2,58,114584,119831,814,2339,3780,285,149,3181,257,285,403,305,3527,1868,5199,386,3290,760,3841,221,154,3128,26,30,25,25,3563,736,5301,167,3327,1148,3772,245,151,3202,46,46,49,47,3560,1097,5281,214,3323,4,3,5116,7,2,33,10,33,9,3773,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,5,9,9,24,11,25
missing,0,0,0,0,0,0,0,0,0,12,278,1292,0,0,0,0,0,0,0,0,0,202929,0,0,0,0,0,0,96391,2,0,0,0,0,0,0,0,0,0,0,0,173378,660,60965,156061,179943,150007,204488,214865,163891,154828,153020,208642,182590,210199,154350,213514,169682,156061,179943,150007,204488,214865,163891,154828,153020,208642,182590,210199,154350,213514,169682,156061,179943,150007,204488,214865,163891,154828,153020,208642,182590,210199,154350,213514,169682,210295,154297,148431,156341,145755,1021,1021,1021,1021,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,41519,41519,41519,41519,41519,41519
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0.00%,0.09%,0.42%,0%,0%,0%,0%,0%,0%,0%,0%,0%,65.99%,0%,0%,0%,0%,0%,0%,31.35%,0.00%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,56.38%,0.21%,19.83%,50.75%,58.52%,48.78%,66.50%,69.87%,53.30%,50.35%,49.76%,67.85%,59.38%,68.35%,50.19%,69.43%,55.18%,50.75%,58.52%,48.78%,66.50%,69.87%,53.30%,50.35%,49.76%,67.85%,59.38%,68.35%,50.19%,69.43%,55.18%,50.75%,58.52%,48.78%,66.50%,69.87%,53.30%,50.35%,49.76%,67.85%,59.38%,68.35%,50.19%,69.43%,55.18%,68.39%,50.18%,48.27%,50.84%,47.40%,0.33%,0.33%,0.33%,0.33%,0.00%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,13.50%,13.50%,13.50%,13.50%,13.50%,13.50%
types,numeric,bool,bool,categorical,bool,bool,numeric,numeric,numeric,numeric,numeric,categorical,categorical,categorical,categorical,categorical,numeric,numeric,numeric,numeric,numeric,numeric,bool,bool,bool,bool,bool,bool,categorical,numeric,numeric,numeric,categorical,numeric,bool,bool,bool,bool,bool,bool,categorical,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,categorical,categorical,numeric,categorical,bool,numeric,numeric,numeric,numeric,numeric,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool,numeric,numeric,numeric,numeric,numeric,numeric

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,48744,NaN,NaN,NaN,NaN,48744,48744,48744,48720,48744,NaN,NaN,NaN,NaN,NaN,48744,48744,48744,48744,48744,16432,48744,48744,48744,48744,48744,48744,NaN,48744,48744,48744,NaN,48744,48744,48744,48744,48744,48744,48744,NaN,28212,48736,40076,24857,21103,25888,16926,15249,23555,25165,25423,16278,20490,15964,25192,15397,22660,24857,21103,25888,16926,15249,23555,25165,25423,16278,20490,15964,25192,15397,22660,24857,21103,25888,16926,15249,23555,25165,25423,16278,20490,15964,25192,15397,22660,NaN,NaN,26120,NaN,NaN,48715,48715,48715,48715,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,42695,42695,42695,42695,42695,42695
mean,277797,NaN,NaN,NaN,NaN,0.397054,178432,516740,29426.2,462619,NaN,NaN,NaN,NaN,NaN,0.0212256,-16068.1,67485.4,-4967.65,-3051.71,11.786,0.999979,0.80972,0.204702,0.9984,0.26313,0.162646,NaN,2.14677,2.03816,2.0126,NaN,12.0074,0.0188331,0.0551658,0.0420359,0.0774659,0.224664,0.174216,NaN,0.50118,0.518021,0.500106,0.122388,0.0900655,0.978828,0.751137,0.0476237,0.0851683,0.151777,0.233706,0.238423,0.0671921,0.105885,0.112286,0.00923148,0.0293873,0.119078,0.0889981,0.978292,0.758327,0.045223,0.0805699,0.147161,0.22939,0.233854,0.0659141,0.110874,0.110687,0.00835754,0.0281615,0.122809,0.0895291,0.978822,0.754344,0.0474204,0.0841282,0.1512,0.233154,0.237846,0.068069,0.107063,0.113368,0.00897885,0.0292963,NaN,NaN,0.107129,NaN,NaN,1.44764,0.143652,1.43574,0.101139,-1077.77,0,0.78662,0.000102577,0.0147505,0.0874774,4.10307e-05,0.0884622,0.00449286,0,0.00116937,0,0,0,0,0,0,0.00155917,0,0,0,0.00210798,0.00180349,0.00278721,0.00929851,0.546902,1.98377
std,103170,NaN,NaN,NaN,NaN,0.709047,101523,365397,16016.4,336710,NaN,NaN,NaN,NaN,NaN,0.0144282,4325.9,144349,3552.61,1569.28,11.4629,0.00452939,0.392526,0.403488,0.0399709,0.440337,0.369046,NaN,0.890423,0.522694,0.515804,NaN,3.27817,0.135937,0.228306,0.200673,0.267332,0.417365,0.379299,NaN,0.205142,0.181278,0.189498,0.113112,0.0815363,0.049318,0.113188,0.0828684,0.139164,0.100669,0.147361,0.164976,0.081909,0.098284,0.11486,0.0487491,0.0720075,0.113465,0.082655,0.0537825,0.110117,0.0811686,0.137509,0.101748,0.146485,0.165034,0.0828796,0.10398,0.116699,0.0466572,0.073504,0.114184,0.0810222,0.0496629,0.111998,0.0828922,0.139014,0.100931,0.147629,0.165241,0.0828687,0.0997368,0.116503,0.0481485,0.072998,NaN,NaN,0.11142,NaN,NaN,3.60805,0.514413,3.58012,0.403791,878.921,0,0.409698,0.0101276,0.120554,0.282536,0.00640545,0.283969,0.0668787,0,0.0341765,0,0,0,0,0,0,0.0394559,0,0,0,0.0463727,0.0461324,0.0540374,0.110924,0.693305,1.83887
min,100001,NaN,NaN,NaN,NaN,0,26941.5,45000,2295,45000,NaN,NaN,NaN,NaN,NaN,0.000253,-25195,-17463,-23722,-6348,0,0,0,0,0,0,0,NaN,1,1,-1,NaN,0,0,0,0,0,0,0,NaN,0.0134579,8.09786e-06,0.000527265,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,NaN,0,0,0,0,-4361,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25%,188558,NaN,NaN,NaN,NaN,0,112500,260640,17973,225000,NaN,NaN,NaN,NaN,NaN,0.010006,-19637,-2910,-7459.25,-4448,4,1,1,0,1,0,0,NaN,2,2,2,NaN,10,0,0,0,0,0,0,NaN,0.343695,0.408066,0.363945,0.0619,0.0467,0.9767,0.6872,0.0081,0,0.0745,0.1667,0.1042,0.019,0.0504,0.048575,0,0,0.0588,0.0425,0.9762,0.6929,0.0076,0,0.069,0.1667,0.0833,0.016525,0.0551,0.0456,0,0,0.0625,0.04615,0.9767,0.6914,0.008,0,0.069,0.1667,0.0833,0.019,0.0513,0.049,0,0,NaN,NaN,0.0432,NaN,NaN,0,0,0,0,-1766.25,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
50%,277549,NaN,NaN,NaN,NaN,0,157500,450000,26199,396000,NaN,NaN,NaN,NaN,NaN,0.01885,-15785,-1293,-4490,-3234,9,1,1,0,1,0,0,NaN,2,2,2,NaN,12,0,0,0,0,0,0,NaN,0.506771,0.558758,0.519097,0.0928,0.0781,0.9816,0.7552,0.0227,0,0.1379,0.1667,0.2083,0.0483,0.0756,0.077,0,0.0038,0.0851,0.077,0.9816,0.7583,0.0203,0,0.1379,0.1667,0.2083,0.0462,0.0817,0.0751,0,0.0012,0.0926,0.0778,0.9816,0.7585,0.0223,0,0.1379,0.1667,0.2083,0.0488,0.077,0.0776,0,0.0031,NaN,NaN,0.0707,NaN,NaN,0,0,0,0,-863,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
75%,367556,NaN,NaN,NaN,NaN,1,225000,675000,37390.5,630000,NaN,NaN,NaN,NaN,NaN,0.028663,-12496,-296,-1901,-1706,15,1,1,0,1,1,0,NaN,3,2,2,NaN,14,0,0,0,0,0,0,NaN,0.665956,0.658497,0.652897,0.1485,0.1134,0.9866,0.8164,0.0539,0.16,0.2069,0.3333,0.375,0.0868,0.1269,0.1376,0.0051,0.029,0.1502,0.11355,0.9866,0.8236,0.0517,0.1208,0.2069,0.3333,0.375,0.0856,0.1322,0.1306,0.0039,0.0245,0.1499,0.113,0.9866,0.8189,0.0538,0.16,0.2069,0.3333,0.375,0.088,0.1266,0.137425,0.0039,0.028025,NaN,NaN,0.1357,NaN,NaN,2,0,2,0,-363,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3
max,456250,NaN,NaN,NaN,NaN,20,4.41e+06,2.2455e+06,180576,2.2455e+06,NaN,NaN,NaN,NaN,NaN,0.072508,-7338,365243,0,0,74,1,1,1,1,1,1,NaN,21,3,3,NaN,23,1,1,1,1,1,1,NaN,0.939145,0.855,0.88253,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,1,NaN,NaN,354,34,351,24,0,0,1,1,1,1,1,1,1,0,1,0,0,0,0,0,0,1,0,0,0,2,2,2,6,7,17
counts,48744,48744,48744,48744,48744,48744,48744,48744,48720,48744,47833,48744,48744,48744,48744,48744,48744,48744,48744,48744,16432,48744,48744,48744,48744,48744,48744,33139,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,28212,48736,40076,24857,21103,25888,16926,15249,23555,25165,25423,16278,20490,15964,25192,15397,22660,24857,21103,25888,16926,15249,23555,25165,25423,16278,20490,15964,25192,15397,22660,24857,21103,25888,16926,15249,23555,25165,25423,16278,20490,15964,25192,15397,22660,15947,25125,26120,24851,26535,48715,48715,48715,48715,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,48744,42695,42695,42695,42695,42695,42695
uniques,48744,2,2,2,2,11,606,2937,7491,677,7,7,5,5,6,81,15477,7863,12618,5880,52,2,2,2,2,2,2,18,12,3,4,7,24,2,2,2,2,2,2,58,27207,38885,702,1543,2816,175,130,2042,181,200,252,198,2540,1211,3848,241,2026,636,2835,160,132,2001,26,30,25,25,2560,602,3842,106,2025,918,2805,169,129,2034,43,43,47,44,2562,843,3885,134,2030,4,3,3820,7,2,28,8,27,7,3579,1,2,2,2,2,2,2,2,1,2,1,1,1,1,1,1,2,1,1,1,3,3,3,7,8,16
missing,0,0,0,0,0,0,0,0,24,0,911,0,0,0,0,0,0,0,0,0,32312,0,0,0,0,0,0,15605,0,0,0,0,0,0,0,0,0,0,0,0,20532,8,8668,23887,27641,22856,31818,33495,25189,23579,23321,32466,28254,32780,23552,33347,26084,23887,27641,22856,31818,33495,25189,23579,23321,32466,28254,32780,23552,33347,26084,23887,27641,22856,31818,33495,25189,23579,23321,32466,28254,32780,23552,33347,26084,32797,23619,22624,23893,22209,29,29,29,29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6049,6049,6049,6049,6049,6049
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0.05%,0%,1.87%,0%,0%,0%,0%,0%,0%,0%,0%,0%,66.29%,0%,0%,0%,0%,0%,0%,32.01%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,42.12%,0.02%,17.78%,49.01%,56.71%,46.89%,65.28%,68.72%,51.68%,48.37%,47.84%,66.61%,57.96%,67.25%,48.32%,68.41%,53.51%,49.01%,56.71%,46.89%,65.28%,68.72%,51.68%,48.37%,47.84%,66.61%,57.96%,67.25%,48.32%,68.41%,53.51%,49.01%,56.71%,46.89%,65.28%,68.72%,51.68%,48.37%,47.84%,66.61%,57.96%,67.25%,48.32%,68.41%,53.51%,67.28%,48.46%,46.41%,49.02%,45.56%,0.06%,0.06%,0.06%,0.06%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,12.41%,12.41%,12.41%,12.41%,12.41%,12.41%
types,numeric,bool,bool,bool,bool,numeric,numeric,numeric,numeric,numeric,categorical,categorical,categorical,categorical,categorical,numeric,numeric,numeric,numeric,numeric,numeric,bool,bool,bool,bool,bool,bool,categorical,numeric,numeric,numeric,categorical,numeric,bool,bool,bool,bool,bool,bool,categorical,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,categorical,categorical,numeric,categorical,bool,numeric,numeric,numeric,numeric,numeric,constant,bool,bool,bool,bool,bool,bool,bool,constant,bool,constant,constant,constant,constant,constant,constant,bool,constant,constant,constant,numeric,numeric,numeric,numeric,numeric,numeric

In [12]:
train, test = tables

In [17]:
def auc(inp, targ):
    return metrics.roc_auc_score(to_np(targ), to_np(np.exp(inp[:,1])))

In [132]:
train.T[train.columns.str.contains("DAY")][0]

DAYS_BIRTH                        -9461
DAYS_EMPLOYED                      -637
DAYS_REGISTRATION                 -3648
DAYS_ID_PUBLISH                   -2120
WEEKDAY_APPR_PROCESS_START    WEDNESDAY
DAYS_LAST_PHONE_CHANGE            -1134
AMT_REQ_CREDIT_BUREAU_DAY             0
Name: 0, dtype: object

In [129]:
train.WEEKDAY_APPR_PROCESS_START.unique()

array(['WEDNESDAY', 'MONDAY', 'THURSDAY', 'SUNDAY', 'SATURDAY', 'FRIDAY', 'TUESDAY'], dtype=object)

In [134]:
train_cats(train)

In [151]:
null_ratio = train.isnull().sum().sort_values(ascending=False) / len(train)

In [169]:
filtered_by_null = null_ratio[null_ratio > 0.5]
len(null_ratio), len(filtered_by_null)

(122, 41)

In [176]:
train.drop(columns=filtered_by_null.index, axis=1, inplace=True)
len(train.columns)

In [167]:
df, y, nas = proc_df(train, 'TARGET')

AttributeError: 'Series' object has no attribute 'WEEKDAY_APPR_PROCESS_STAR'