In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
import gc
import sys
sys.path.append('../')

from fastai.structured import *
from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)
from IPython.display import HTML, display
from sklearn import metrics
import traceback 
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

import featuretools as ft

MERED = "merged"
PATH = "../../../data/home-credit-default-risk/"
#PATH = "../../data/home-credit-default-risk/"

/home/max/anaconda3/envs/fastai-cpu/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/max/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [6]:
ls {PATH}

application_test.csv                merged/
application_train.csv               models/
bureau_balance.csv                  POS_CASH_balance.csv
bureau.csv                          previous_application.csv
credit_card_balance.csv             sample_submission.csv
HomeCredit_columns_description.csv  tmp/
installments_payments.csv

# Bureau + bureau balance

In [3]:
def load_sample(file_name, sk_id_currs):    
    table = pd.read_csv(f'{PATH}{file_name}.csv',low_memory=False)    
    table = table[table.SK_ID_CURR.isin(sk_id_currs)]
    print(file_name, len(table))
    return table

TODO: here need concat application_train + application_test; with is_test collumn

In [4]:
file_names = ['application_train']
tables = [pd.read_csv(f'{PATH}{file_name}.csv',low_memory=False, nrows=10000) for file_name in file_names]
train = tables[0]

In [14]:
bureau = load_sample('bureau', train.SK_ID_CURR)

bureau 46974

In [15]:
file_names = ['bureau_balance']
tables = [pd.read_csv(f'{PATH}{file_name}.csv',low_memory=False) for file_name in file_names]
bureau_balance = tables[0][tables[0].SK_ID_BUREAU.isin(bureau.SK_ID_BUREAU)]

In [16]:
len(train), len(bureau), len(bureau_balance)

(10000, 46974, 474218)

In [8]:
bureau_balance = bureau_balance.reset_index()

In [9]:
entities = {
    'train' : (train, "SK_ID_CURR"),
    'bureau' : (bureau, "SK_ID_BUREAU"),
    'bureau_balance' : (bureau_balance, 'index')
}

relationships = [
    ('train', 'SK_ID_CURR', 'bureau', 'SK_ID_CURR'),
    ('bureau', 'SK_ID_BUREAU', 'bureau_balance', 'SK_ID_BUREAU')
]

In [10]:
feature_matrix, feature_defs = ft.dfs(
    entities=entities,
    relationships = relationships,
    target_entity="train",
    agg_primitives=["mean", "sum", "mode"])

In [11]:
len(feature_matrix)

10000

In [12]:
feature_defs

[<Feature: TARGET>,
 <Feature: NAME_CONTRACT_TYPE>,
 <Feature: CODE_GENDER>,
 <Feature: FLAG_OWN_CAR>,
 <Feature: FLAG_OWN_REALTY>,
 <Feature: CNT_CHILDREN>,
 <Feature: AMT_INCOME_TOTAL>,
 <Feature: AMT_CREDIT>,
 <Feature: AMT_ANNUITY>,
 <Feature: AMT_GOODS_PRICE>,
 <Feature: NAME_TYPE_SUITE>,
 <Feature: NAME_INCOME_TYPE>,
 <Feature: NAME_EDUCATION_TYPE>,
 <Feature: NAME_FAMILY_STATUS>,
 <Feature: NAME_HOUSING_TYPE>,
 <Feature: REGION_POPULATION_RELATIVE>,
 <Feature: DAYS_BIRTH>,
 <Feature: DAYS_EMPLOYED>,
 <Feature: DAYS_REGISTRATION>,
 <Feature: DAYS_ID_PUBLISH>,
 <Feature: OWN_CAR_AGE>,
 <Feature: FLAG_MOBIL>,
 <Feature: FLAG_EMP_PHONE>,
 <Feature: FLAG_WORK_PHONE>,
 <Feature: FLAG_CONT_MOBILE>,
 <Feature: FLAG_PHONE>,
 <Feature: FLAG_EMAIL>,
 <Feature: OCCUPATION_TYPE>,
 <Feature: CNT_FAM_MEMBERS>,
 <Feature: REGION_RATING_CLIENT>,
 <Feature: REGION_RATING_CLIENT_W_CITY>,
 <Feature: WEEKDAY_APPR_PROCESS_START>,
 <Feature: HOUR_APPR_PROCESS_START>,
 <Feature: REG_REGION_NOT_LIVE_REGION>,
 <Feature: REG_REGION_NOT_WORK_REGION>,
 <Feature: LIVE_REGION_NOT_WORK_REGION>,
 <Feature: REG_CITY_NOT_LIVE_CITY>,
 <Feature: REG_CITY_NOT_WORK_CITY>,
 <Feature: LIVE_CITY_NOT_WORK_CITY>,
 <Feature: ORGANIZATION_TYPE>,
 <Feature: EXT_SOURCE_1>,
 <Feature: EXT_SOURCE_2>,
 <Feature: EXT_SOURCE_3>,
 <Feature: APARTMENTS_AVG>,
 <Feature: BASEMENTAREA_AVG>,
 <Feature: YEARS_BEGINEXPLUATATION_AVG>,
 <Feature: YEARS_BUILD_AVG>,
 <Feature: COMMONAREA_AVG>,
 <Feature: ELEVATORS_AVG>,
 <Feature: ENTRANCES_AVG>,
 <Feature: FLOORSMAX_AVG>,
 <Feature: FLOORSMIN_AVG>,
 <Feature: LANDAREA_AVG>,
 <Feature: LIVINGAPARTMENTS_AVG>,
 <Feature: LIVINGAREA_AVG>,
 <Feature: NONLIVINGAPARTMENTS_AVG>,
 <Feature: NONLIVINGAREA_AVG>,
 <Feature: APARTMENTS_MODE>,
 <Feature: BASEMENTAREA_MODE>,
 <Feature: YEARS_BEGINEXPLUATATION_MODE>,
 <Feature: YEARS_BUILD_MODE>,
 <Feature: COMMONAREA_MODE>,
 <Feature: ELEVATORS_MODE>,
 <Feature: ENTRANCES_MODE>,
 <Feature: FLOORSMAX_MODE>,
 <Feature: FLOORSMIN_MODE>,
 <Feature: LANDAREA_MODE>,
 <Feature: LIVINGAPARTMENTS_MODE>,
 <Feature: LIVINGAREA_MODE>,
 <Feature: NONLIVINGAPARTMENTS_MODE>,
 <Feature: NONLIVINGAREA_MODE>,
 <Feature: APARTMENTS_MEDI>,
 <Feature: BASEMENTAREA_MEDI>,
 <Feature: YEARS_BEGINEXPLUATATION_MEDI>,
 <Feature: YEARS_BUILD_MEDI>,
 <Feature: COMMONAREA_MEDI>,
 <Feature: ELEVATORS_MEDI>,
 <Feature: ENTRANCES_MEDI>,
 <Feature: FLOORSMAX_MEDI>,
 <Feature: FLOORSMIN_MEDI>,
 <Feature: LANDAREA_MEDI>,
 <Feature: LIVINGAPARTMENTS_MEDI>,
 <Feature: LIVINGAREA_MEDI>,
 <Feature: NONLIVINGAPARTMENTS_MEDI>,
 <Feature: NONLIVINGAREA_MEDI>,
 <Feature: FONDKAPREMONT_MODE>,
 <Feature: HOUSETYPE_MODE>,
 <Feature: TOTALAREA_MODE>,
 <Feature: WALLSMATERIAL_MODE>,
 <Feature: EMERGENCYSTATE_MODE>,
 <Feature: OBS_30_CNT_SOCIAL_CIRCLE>,
 <Feature: DEF_30_CNT_SOCIAL_CIRCLE>,
 <Feature: OBS_60_CNT_SOCIAL_CIRCLE>,
 <Feature: DEF_60_CNT_SOCIAL_CIRCLE>,
 <Feature: DAYS_LAST_PHONE_CHANGE>,
 <Feature: FLAG_DOCUMENT_2>,
 <Feature: FLAG_DOCUMENT_3>,
 <Feature: FLAG_DOCUMENT_4>,
 <Feature: FLAG_DOCUMENT_5>,
 <Feature: FLAG_DOCUMENT_6>,
 <Feature: FLAG_DOCUMENT_7>,
 <Feature: FLAG_DOCUMENT_8>,
 <Feature: FLAG_DOCUMENT_9>,
 <Feature: FLAG_DOCUMENT_10>,
 <Feature: FLAG_DOCUMENT_11>,
 <Feature: FLAG_DOCUMENT_12>,
 <Feature: FLAG_DOCUMENT_13>,
 <Feature: FLAG_DOCUMENT_14>,
 <Feature: FLAG_DOCUMENT_15>,
 <Feature: FLAG_DOCUMENT_16>,
 <Feature: FLAG_DOCUMENT_17>,
 <Feature: FLAG_DOCUMENT_18>,
 <Feature: FLAG_DOCUMENT_19>,
 <Feature: FLAG_DOCUMENT_20>,
 <Feature: FLAG_DOCUMENT_21>,
 <Feature: AMT_REQ_CREDIT_BUREAU_HOUR>,
 <Feature: AMT_REQ_CREDIT_BUREAU_DAY>,
 <Feature: AMT_REQ_CREDIT_BUREAU_WEEK>,
 <Feature: AMT_REQ_CREDIT_BUREAU_MON>,
 <Feature: AMT_REQ_CREDIT_BUREAU_QRT>,
 <Feature: AMT_REQ_CREDIT_BUREAU_YEAR>,
 <Feature: MEAN(bureau.DAYS_CREDIT)>,
 <Feature: MEAN(bureau.CREDIT_DAY_OVERDUE)>,
 <Feature: MEAN(bureau.DAYS_CREDIT_ENDDATE)>,
 <Feature: MEAN(bureau.DAYS_ENDDATE_FACT)>,
 <Feature: MEAN(bureau.AMT_CREDIT_MAX_OVERDUE)>,
 <Feature: MEAN(bureau.CNT_CREDIT_PROLONG)>,
 <Feature: MEAN(bureau.AMT_CREDIT_SUM)>,
 <Feature: MEAN(bureau.AMT_CREDIT_SUM_DEBT)>,
 <Feature: MEAN(bureau.AMT_CREDIT_SUM_LIMIT)>,
 <Feature: MEAN(bureau.AMT_CREDIT_SUM_OVERDUE)>,
 <Feature: MEAN(bureau.DAYS_CREDIT_UPDATE)>,
 <Feature: MEAN(bureau.AMT_ANNUITY)>,
 <Feature: SUM(bureau.DAYS_CREDIT)>,
 <Feature: SUM(bureau.CREDIT_DAY_OVERDUE)>,
 <Feature: SUM(bureau.DAYS_CREDIT_ENDDATE)>,
 <Feature: SUM(bureau.DAYS_ENDDATE_FACT)>,
 <Feature: SUM(bureau.AMT_CREDIT_MAX_OVERDUE)>,
 <Feature: SUM(bureau.CNT_CREDIT_PROLONG)>,
 <Feature: SUM(bureau.AMT_CREDIT_SUM)>,
 <Feature: SUM(bureau.AMT_CREDIT_SUM_DEBT)>,
 <Feature: SUM(bureau.AMT_CREDIT_SUM_LIMIT)>,
 <Feature: SUM(bureau.AMT_CREDIT_SUM_OVERDUE)>,
 <Feature: SUM(bureau.DAYS_CREDIT_UPDATE)>,
 <Feature: SUM(bureau.AMT_ANNUITY)>,
 <Feature: MODE(bureau.CREDIT_ACTIVE)>,
 <Feature: MODE(bureau.CREDIT_CURRENCY)>,
 <Feature: MODE(bureau.CREDIT_TYPE)>,
 <Feature: MEAN(bureau_balance.MONTHS_BALANCE)>,
 <Feature: SUM(bureau_balance.MONTHS_BALANCE)>,
 <Feature: MODE(bureau_balance.STATUS)>,
 <Feature: MEAN(bureau.MEAN(bureau_balance.MONTHS_BALANCE))>,
 <Feature: MEAN(bureau.SUM(bureau_balance.MONTHS_BALANCE))>,
 <Feature: SUM(bureau.MEAN(bureau_balance.MONTHS_BALANCE))>,
 <Feature: MODE(bureau.MODE(bureau_balance.STATUS))>]

# All else

In [9]:
def add_table_to_app(app, table):
    entities = {
        'app' : (app, "SK_ID_CURR"),
        'table' : (table, 'index'),
    }
    relationships = [
        ('app', 'SK_ID_CURR', 'table', 'index')
    ]
    
    #TODO: need drop SK_ID_CURR, prev_app, and other indexes
    
    feature_matrix, feature_defs = ft.dfs(
        entities=entities,
        relationships = relationships,
        target_entity="app",
        agg_primitives=["mean", "sum", "mode"])
    
    os.makedirs('{PATH}tmp', exist_ok=True)
    feature_matrix = feature_matrix.reset_index()
    
    feature_matrix.to_feather(f'{PATH}tmp/app-table')        
    
    return feature_matrix, feature_defs

In [19]:
previous_app = load_sample('previous_application', train.SK_ID_CURR)

previous_application 46154

In [20]:
previous_app = previous_app.reset_index()

In [7]:
pos_cash = load_sample('POS_CASH_balance', train.SK_ID_CURR)

POS_CASH_balance 277650

In [10]:
pos_cash = pos_cash.reset_index()

In [8]:
cc_balance = load_sample('credit_card_balance', train.SK_ID_CURR)

credit_card_balance 105628

In [11]:
cc_balance = cc_balance.reset_index()

In [9]:
installments_payments = load_sample('installments_payments', train.SK_ID_CURR)

installments_payments 375092

In [12]:
installments_payments = installments_payments.reset_index()

In [ ]:
entities = {
    'train' : (train, "SK_ID_CURR"),
    'previous_app' : (previous_app, "SK_ID_PREV "),
    'pos_cash' : (pos_cash, 'index'),
    'cc_balance' : (cc_balance, 'index'),
    'installments_payments' : (installments_payments, 'index')
}

relationships = [
    ('train', 'SK_ID_CURR', 'bureau', 'SK_ID_CURR'),
    ('bureau', 'SK_ID_BUREAU', 'bureau_balance', 'SK_ID_BUREAU')
]

In [37]:
feature_matrix, feature_defs = add_table_to_app(train, previous_app)

In [6]:
file_names = ['previous_application', 'POS_CASH_balance', 'credit_card_balance', 'installments_payments']
for file_name in file_names:
    table = load_sample(file_name, train.SK_ID_CURR)
    table = table.reset_index()
    train, feature_defs = add_table_to_app(train, table)

previous_application 46154
POS_CASH_balance 277650
credit_card_balance 105628
installments_payments 375092

In [7]:
df_all = pd.read_feather(f'{PATH}tmp/app-table')

/home/max/.local/lib/python3.6/site-packages/pandas/io/feather_format.py:112: FutureWarning: `nthreads` argument is deprecated, pass `use_threads` instead
  return feather.read_dataframe(path, nthreads=nthreads)

In [8]:
df_all.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,MEAN(table.AMT_INSTALMENT),MEAN(table.AMT_PAYMENT),SUM(table.SK_ID_PREV),SUM(table.SK_ID_CURR),SUM(table.NUM_INSTALMENT_VERSION),SUM(table.NUM_INSTALMENT_NUMBER),SUM(table.DAYS_INSTALMENT),SUM(table.DAYS_ENTRY_PAYMENT),SUM(table.AMT_INSTALMENT),SUM(table.AMT_PAYMENT)
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,447329.61,447329.61,NaN,NaN,2.0,6.0,-778.0,-789.0,447329.61,447329.61
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,859.77,859.77,NaN,NaN,0.0,74.0,-783.0,-783.0,859.77,859.77
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
len(train.columns), len(previous_app.columns), len(feature_matrix.columns)

(122, 38, 180)

In [32]:
 with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000):
        display(DataFrameSummary(feature_matrix).summary())

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,MEAN(table.SK_ID_PREV),MEAN(table.SK_ID_CURR),MEAN(table.AMT_ANNUITY),MEAN(table.AMT_APPLICATION),MEAN(table.AMT_CREDIT),MEAN(table.AMT_DOWN_PAYMENT),MEAN(table.AMT_GOODS_PRICE),MEAN(table.HOUR_APPR_PROCESS_START),MEAN(table.NFLAG_LAST_APPL_IN_DAY),MEAN(table.RATE_DOWN_PAYMENT),MEAN(table.RATE_INTEREST_PRIMARY),MEAN(table.RATE_INTEREST_PRIVILEGED),MEAN(table.DAYS_DECISION),MEAN(table.SELLERPLACE_AREA),MEAN(table.CNT_PAYMENT),MEAN(table.DAYS_FIRST_DRAWING),MEAN(table.DAYS_FIRST_DUE),MEAN(table.DAYS_LAST_DUE_1ST_VERSION),MEAN(table.DAYS_LAST_DUE),MEAN(table.DAYS_TERMINATION),MEAN(table.NFLAG_INSURED_ON_APPROVAL),SUM(table.SK_ID_PREV),SUM(table.SK_ID_CURR),SUM(table.AMT_ANNUITY),SUM(table.AMT_APPLICATION),SUM(table.AMT_CREDIT),SUM(table.AMT_DOWN_PAYMENT),SUM(table.AMT_GOODS_PRICE),SUM(table.HOUR_APPR_PROCESS_START),SUM(table.NFLAG_LAST_APPL_IN_DAY),SUM(table.RATE_DOWN_PAYMENT),SUM(table.RATE_INTEREST_PRIMARY),SUM(table.RATE_INTEREST_PRIVILEGED),SUM(table.DAYS_DECISION),SUM(table.SELLERPLACE_AREA),SUM(table.CNT_PAYMENT),SUM(table.DAYS_FIRST_DRAWING),SUM(table.DAYS_FIRST_DUE),SUM(table.DAYS_LAST_DUE_1ST_VERSION),SUM(table.DAYS_LAST_DUE),SUM(table.DAYS_TERMINATION),SUM(table.NFLAG_INSURED_ON_APPROVAL),MODE(table.NAME_CONTRACT_TYPE),MODE(table.WEEKDAY_APPR_PROCESS_START),MODE(table.FLAG_LAST_APPL_PER_CONTRACT),MODE(table.NAME_CASH_LOAN_PURPOSE),MODE(table.NAME_CONTRACT_STATUS),MODE(table.NAME_PAYMENT_TYPE),MODE(table.CODE_REJECT_REASON),MODE(table.NAME_TYPE_SUITE),MODE(table.NAME_CLIENT_TYPE),MODE(table.NAME_GOODS_CATEGORY),MODE(table.NAME_PORTFOLIO),MODE(table.NAME_PRODUCT_TYPE),MODE(table.CHANNEL_TYPE),MODE(table.NAME_SELLER_INDUSTRY),MODE(table.NAME_YIELD_GROUP),MODE(table.PRODUCT_COMBINATION)
count,10000,10000,NaN,NaN,NaN,NaN,10000,10000,10000,10000,9993,NaN,NaN,NaN,NaN,NaN,10000,10000,10000,10000,10000,3338,10000,10000,10000,10000,10000,10000,NaN,10000,10000,10000,NaN,10000,10000,10000,10000,10000,10000,10000,NaN,4353,9974,8005,4935,4184,5120,3360,3021,4691,4994,5057,3205,4102,3155,4991,3058,4522,4935,4184,5120,3360,3021,4691,4994,5057,3205,4102,3155,4991,3058,4522,4935,4184,5120,3360,3021,4691,4994,5057,3205,4102,3155,4991,3058,4522,NaN,NaN,5187,NaN,NaN,9958,9958,9958,9958,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,8634,8634,8634,8634,8634,8634,299,299,243,299,299,142,241,299,299,142,0,0,299,299,243,181,181,181,181,181,181,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,105831,0.0775,NaN,NaN,NaN,NaN,0.4163,167449,600753,27088,540385,NaN,NaN,NaN,NaN,NaN,0.0208979,-16025.3,62821.8,-4986.48,-2983.38,11.9185,1,0.8225,0.2013,0.9982,0.2821,0.0545,NaN,2.1564,2.0472,2.0266,NaN,12.0746,0.0164,0.0494,0.0381,0.0804,0.2354,0.1803,NaN,0.504268,0.515509,0.511554,0.117371,0.0889567,0.979008,0.75131,0.0439004,0.0771761,0.15064,0.22585,0.231932,0.066957,0.0988074,0.107027,0.0084084,0.0284963,0.113657,0.087932,0.977991,0.757949,0.0413659,0.0726315,0.146033,0.22174,0.227934,0.0654541,0.103099,0.10505,0.00774176,0.0273943,0.118078,0.0886401,0.979014,0.754663,0.0440887,0.0768109,0.150379,0.22555,0.231775,0.0679561,0.100245,0.108558,0.00835033,0.0286797,NaN,NaN,0.101546,NaN,NaN,1.40982,0.149026,1.39446,0.104439,-960.207,0,0.7107,0.0002,0.016,0.0856,0,0.0768,0.0035,0,0.0036,0,0.0024,0.0026,0.0006,0.0099,0.0002,0.0069,0.0004,0.0005,0.0003,0.00729673,0.00810748,0.0328932,0.274612,0.269748,1.88974,1.95377e+06,105721,16199.8,169681,190975,6442.54,210517,12.4013,0.989967,0.0850877,NaN,NaN,-928.666,297.154,14.3621,347041,19119.7,31653.2,77911.6,77924.5,0.392265,1.95377e+06,105721,13165.7,169681,190975,3059.67,169681,12.4013,0.989967,0.0404095,0,0,-928.666,297.154,11.6722,210082,11574.1,19161.3,47163.9,47171.7,0.237458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,3359.35,0.267397,NaN,NaN,NaN,NaN,0.722251,94222.6,403264,14384.9,370894,NaN,NaN,NaN,NaN,NaN,0.0139089,4340.53,140464,3540.59,1512.51,11.8527,0,0.38211,0.400992,0.0423903,0.450044,0.227013,NaN,0.906102,0.5099,0.504894,NaN,3.21852,0.127014,0.216713,0.191447,0.271925,0.42427,0.384456,NaN,0.209818,0.189522,0.196439,0.107559,0.081568,0.0464294,0.112843,0.0777801,0.133577,0.100558,0.146918,0.160633,0.0835441,0.0887145,0.109327,0.0451911,0.0719111,0.106207,0.0835862,0.0570927,0.110598,0.0754055,0.1304,0.101139,0.145904,0.160493,0.0845676,0.0937777,0.109807,0.044679,0.0738142,0.108813,0.081549,0.0481933,0.111963,0.0783531,0.134058,0.100884,0.147355,0.161148,0.0849414,0.0903932,0.111683,0.0452663,0.0731272,NaN,NaN,0.10559,NaN,NaN,2.27996,0.453839,2.25983,0.372471,826.778,0,0.45346,0.0141414,0.125481,0.279786,0,0.266287,0.0590601,0,0.0598949,0,0.0489334,0.0509264,0.0244888,0.09901,0.0141414,0.0827833,0.019997,0.0223562,0.0173188,0.0877933,0.11762,0.193326,0.926332,0.614957,1.85702,547494,3279.48,16184.3,256446,281085,10375.5,270232,3.34977,0.0998304,0.114619,NaN,NaN,816.092,753.059,12.9497,79794.4,83937.2,104172,151001,150994,0.48961,547494,3279.48,15899.3,256446,281085,7830.74,256446,3.34977,0.0998304,0.0895964,0,0,816.092,753.059,12.9493,180873,65903.5,82431.3,123400,123397,0.426239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,100002,0,NaN,NaN,NaN,NaN,0,25650,45000,2596.5,45000,NaN,NaN,NaN,NaN,NaN,0.000938,-25160,-15632,-20981,-6228,0,1,0,0,0,0,0,NaN,1,1,1,NaN,1,0,0,0,0,0,0,NaN,0.0244175,7.36439e-05,0.000527265,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,NaN,0,0,0,0,-3882,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.00492e+06,100075,0,0,0,0,0,4,0,0,NaN,NaN,-2920,-1,0,-2484,-2890,-2734,-2734,-2665,0,1.00492e+06,100075,0,0,0,0,0,4,0,0,0,0,-2920,-1,0,-2484,-2890,-2734,-2734,-2665,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,102916,0,NaN,NaN,NaN,NaN,0,112500,270000,16434,238500,NaN,NaN,NaN,NaN,NaN,0.010006,-19595.2,-2818.25,-7491.25,-4297,5,1,1,0,1,0,0,NaN,2,2,2,NaN,10,0,0,0,0,0,0,NaN,0.332779,0.393858,0.372334,0.0588,0.043375,0.9767,0.6872,0.0074,0,0.069,0.1667,0.0833,0.0191,0.0504,0.0464,0,0,0.0525,0.04,0.9767,0.6929,0.0068,0,0.069,0.1667,0.0833,0.016925,0.0533,0.0442,0,0,0.0583,0.042675,0.9767,0.6914,0.0073,0,0.069,0.1667,0.0833,0.019125,0.0513,0.04705,0,0,NaN,NaN,0.0417,NaN,NaN,0,0,0,0,-1558.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.52515e+06,102832,6690.15,30001.5,35352,0,55665,10,1,0,NaN,NaN,-1453.5,-1,6,365243,-1683,-1353,-1358,-1354,0,1.52515e+06,102832,3978.36,30001.5,35352,0,30001.5,10,1,0,0,0,-1453.5,-1,0,0,-1025,-601.5,-739,-703,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,105850,0,NaN,NaN,NaN,NaN,0,144000,513000,24970.5,450000,NaN,NaN,NaN,NaN,NaN,0.01885,-15783.5,-1224,-4478,-3227,9,1,1,0,1,0,0,NaN,2,2,2,NaN,12,0,0,0,0,0,0,NaN,0.511269,0.565894,0.533482,0.0866,0.07595,0.9816,0.7552,0.0194,0,0.1379,0.1667,0.2083,0.0473,0.074,0.074,0,0.0036,0.084,0.07405,0.9816,0.7583,0.0174,0,0.1379,0.1667,0.2083,0.04435,0.0735,0.0728,0,0.0013,0.0874,0.0756,0.9816,0.7585,0.0193,0,0.1379,0.1667,0.2083,0.04775,0.0744,0.0749,0,0.0031,NaN,NaN,0.0682,NaN,NaN,0,0,0,0,-752,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1.94631e+06,105601,11061,75379.5,86845.6,2423.25,109458,12,1,0.0827499,NaN,NaN,-634,0,12,365243,-834,-367,-566,-543,0,1.94631e+06,105601,8765.33,75379.5,86845.6,0,75379.5,12,1,0,0,0,-634,0,10,365243,-234,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,108745,0,NaN,NaN,NaN,NaN,1,202500,810000,34636.5,684000,NaN,NaN,NaN,NaN,NaN,0.028663,-12388.8,-286.75,-2004,-1707,15,1,1,0,1,1,0,NaN,3,2,2,NaN,14,0,0,0,0,0,0,NaN,0.673915,0.664474,0.670652,0.1474,0.1127,0.9866,0.8232,0.0505,0.12,0.2069,0.3333,0.375,0.0861,0.1202,0.1268,0.0039,0.0266,0.1387,0.1123,0.9866,0.8236,0.0473,0.1208,0.2069,0.3333,0.375,0.085,0.1249,0.1219,0.0039,0.0232,0.1478,0.1125,0.9866,0.8256,0.0505,0.12,0.2069,0.3333,0.375,0.0873,0.1223,0.1273,0.0039,0.0261,NaN,NaN,0.1222,NaN,NaN,2,0,2,0,-261,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,2.41425e+06,108450,20865.2,183607,224739,8807.62,225000,15,1,0.108914,NaN,NaN,-261.5,70,18,365243,-356,85,-66,-59,1,2.41425e+06,108450,16634.5,183607,224739,1723.5,183607,15,1,0.0506926,0,0,-261.5,70,12,365243,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,111633,1,NaN,NaN,NaN,NaN,7,1.935e+06,2.961e+06,135936,2.961e+06,NaN,NaN,NaN,NaN,NaN,0.072508,-7705,365243,0,0,65,1,1,1,1,1,1,NaN,9,3,3,NaN,23,1,1,1,1,1,1,NaN,0.929394,0.855,0.885488,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,1,NaN,NaN,25,5,25,5,0,0,1,1,1,1,0,1,1,0,1,0,1,1,1,1,1,1,1,1,1,2,4,4,16,8,13,2.84174e+06,111632,131666,1.359e+06,1.54602e+06,67500,1.359e+06,21,1,0.544572,NaN,NaN,-5,5000,60,365243,365243,365243,365243,365243,1,2.84174e+06,111632,131666,1.359e+06,1.54602e+06,67500,1.359e+06,21,1,0.544572,0,0,-5,5000,60,365243,365243,365243,365243,365243,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
counts,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,9993,9959,10000,10000,10000,10000,10000,10000,10000,10000,10000,3338,10000,10000,10000,10000,10000,10000,6911,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,4353,9974,8005,4935,4184,5120,3360,3021,4691,4994,5057,3205,4102,3155,4991,3058,4522,4935,4184,5120,3360,3021,4691,4994,5057,3205,4102,3155,4991,3058,4522,4935,4184,5120,3360,3021,4691,4994,5057,3205,4102,3155,4991,3058,4522,3143,4995,5187,4911,5275,9958,9958,9958,9958,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,8634,8634,8634,8634,8634,8634,299,299,243,299,299,142,241,299,299,142,0,0,299,299,243,181,181,181,181,181,181,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,299,156,299,299,299,299,299,299,299,299
uniques,10000,2,2,2,2,2,8,306,1846,4200,364,7,5,5,5,6,79,7419,4281,6670,4424,46,1,2,2,2,2,2,18,9,3,3,7,23,2,2,2,2,2,2,58,4317,9290,639,754,1678,127,103,1044,99,106,119,86,1509,582,2112,101,1003,445,1656,120,108,1014,24,28,24,23,1483,394,2084,50,965,586,1675,122,104,1040,41,40,42,39,1509,491,2141,66,1011,4,3,2114,7,2,22,6,23,6,2700,1,2,2,2,2,1,2,2,1,2,1,2,2,2,2,2,2,2,2,2,3,5,5,16,8,13,299,286,221,168,213,67,168,18,2,72,0,0,267,93,17,10,165,163,139,130,2,299,286,221,168,213,67,168,18,2,72,1,1,267,93,17,11,166,164,140,131,2,3,7,2,9,4,3,7,5,3,14,4,3,7,7,5,17
missing,0,0,0,0,0,0,0,0,0,0,7,41,0,0,0,0,0,0,0,0,0,6662,0,0,0,0,0,0,3089,0,0,0,0,0,0,0,0,0,0,0,0,5647,26,1995,5065,5816,4880,6640,6979,5309,5006,4943,6795,5898,6845,5009,6942,5478,5065,5816,4880,6640,6979,5309,5006,4943,6795,5898,6845,5009,6942,5478,5065,5816,4880,6640,6979,5309,5006,4943,6795,5898,6845,5009,6942,5478,6857,5005,4813,5089,4725,42,42,42,42,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1366,1366,1366,1366,1366,1366,9701,9701,9757,9701,9701,9858,9759,9701,9701,9858,10000,10000,9701,9701,9757,9819,9819,9819,9819,9819,9819,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9701,9844,9701,9701,9701,9701,9701,9701,9701,9701
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0.07%,0.41%,0%,0%,0%,0%,0%,0%,0%,0%,0%,66.62%,0%,0%,0%,0%,0%,0%,30.89%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,56.47%,0.26%,19.95%,50.65%,58.16%,48.80%,66.40%,69.79%,53.09%,50.06%,49.43%,67.95%,58.98%,68.45%,50.09%,69.42%,54.78%,50.65%,58.16%,48.80%,66.40%,69.79%,53.09%,50.06%,49.43%,67.95%,58.98%,68.45%,50.09%,69.42%,54.78%,50.65%,58.16%,48.80%,66.40%,69.79%,53.09%,50.06%,49.43%,67.95%,58.98%,68.45%,50.09%,69.42%,54.78%,68.57%,50.05%,48.13%,50.89%,47.25%,0.42%,0.42%,0.42%,0.42%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,13.66%,13.66%,13.66%,13.66%,13.66%,13.66%,97.01%,97.01%,97.57%,97.01%,97.01%,98.58%,97.59%,97.01%,97.01%,98.58%,100%,100%,97.01%,97.01%,97.57%,98.19%,98.19%,98.19%,98.19%,98.19%,98.19%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,98.44%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%,97.01%
types,numeric,bool,bool,bool,bool,bool,numeric,numeric,numeric,numeric,numeric,categorical,categorical,categorical,categorical,categorical,numeric,numeric,numeric,numeric,numeric,numeric,constant,bool,bool,bool,bool,bool,categorical,numeric,numeric,numeric,categorical,numeric,bool,bool,bool,bool,bool,bool,categorical,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,categorical,categorical,numeric,categorical,bool,numeric,numeric,numeric,numeric,numeric,constant,bool,bool,bool,bool,constant,bool,bool,constant,bool,constant,bool,bool,bool,bool,bool,bool,bool,bool,bool,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,bool,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,bool,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,bool,numeric,constant,constant,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,bool,categorical,categorical,bool,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical